
.page-etusivu {

  .hero {
    position: relative;

    .headline {

      a {
        display: block;
        width: 100%;

        &:hover,
        &:focus {
          background: transparent !important;

          h2 {
            span.underline {
              background: @blue !important;
            }
          }
          .section-icon {
            transform: scale(1.05);
          }
        }
      }

      .section-icon {
        position: absolute;
        top: -8em;
        height: 8em;
        width: 100%;
        left: -1rem;
        right: -1rem;
        transform: scale(1);
        transition: @hoverTransition;
      }

      p {
        .fontSerif();
        font-weight: normal;
        font-size: @fontS;
        display: block;
        position: relative;
        color: @textLight;
        text-transform: none;
      }
    }
  }

  h2, .h2, h3, .h3 {
    display: block;
    white-space: nowrap;
  }
  h2 {
    margin-right: @gutter;
  }


  footer {

    .headline > a {
      display: block;
      color: inherit;
      padding: 0 0;

      &:first-of-type {
        margin-top: 0.5em;
      }

      &:hover {
        background: transparent;
        color: @blue;
      }
    }

    .screen-lt-md({
      padding: @gutter @gutter 5rem;
    });
  }


  .screen-md({
    .col {
      height: 100%;
      position: relative;
    }

    .hero {
      .box-sizing(border-box);
      position: absolute;
      top: 40%;
      width: 100%;
      padding-right: @gutter;
    }

    footer {
      position: absolute;
      bottom: @buttonMargin;
      .make-col();
    }
  });
}


#timeline {
  display: none;
}

// responsive upgrades for larger than mobile screens:
@media (min-width: @screen-sm-max) {
  @import "page.intro.md.less";
}