// TODO headlines and ingress distribution, same base line

@storyMargin: 10rem;


.stories {

  .screen-lt-lg({
    .col {
      clear: both;
      width: 100%;
    }
  });

  .screen-lg({
  .col {
    min-height: 40em;
  }
    .col:nth-child(2), .col:nth-child(3) {
      //padding-top: @storyMargin;
    }

  .col:nth-child(4), .col:nth-child(5) {
    float: right;
  }

  .col:nth-child(6), .col:nth-child(7), .col:nth-child(8), .col:nth-child(9) {
    .story {
      margin-top: 0;
    }
  }
  });

  .screen-lt-md({
    //padding-bottom: 5em;
  });

}


/**
Structure:

div.col
  div.story
    a
      div.headline
      h2
        span.underline.underline-gradient
      span
*/

.story {
  background: @background;
  display: block;
  position: relative;
  transition: all 0.25s ease-in-out;
  height: 100%;



  //border: 1px solid red;

  &:hover, &:focus {

    a {
      .headline,
      > span {
        background: @light;
      }
    }

    .illustration-background {
      background: @background;
      border-radius: 0.5em;
      transform: scale(1.05);
    }
  }

  a {
    display: block;
    > span {
      color: @textLight;
    }
  }

  a:hover,
  a:focus {
    background: transparent !important;
  }


  .illustration {
    background: @background;
    transition: all 0.25s ease-in;
    margin: 1em auto;
    max-width: 15em;
    max-height: 15em;
    display: block;

    .screen-lt-lg({
      max-width: 10em;
      float: right;
      margin-top: -1em;
    });
  }

  .screen-lt-lg ({
    .illustration {
      display: none;
    }
  });

  .screen-lg({

    min-height: 300px;
    margin-top: @storyMargin;

    @linePositionVertical: 20%;

    a {
      position: absolute;
      height: 100%;
      width: 100%;
      padding: 0;

      .headline,
      > span {
        display: block;
        position: absolute;
        width: 100%;
        margin: -@gutter;
        padding: @gutter;
      }

      .headline {
        bottom: 100% - @linePositionVertical;
        width: 100%;
        display: block;

        h2 {
          display: block;
        }
      }

      > span {
        top: @linePositionVertical;
        padding-top: @gutter;
        margin-top: @gutter/2;
      }
    }
  });
}


/**
 * Styling for the various node tree illustrations
 */

#tree-illustration {
  height: 700px;

  svg {
    margin: auto;
    display: block;
  }

  .node {
    transition: @hoverTransition;
    .nodeText();

    &:hover,
    &:focus {
      fill: @textDark;

      circle {
        stroke: @textLight;
        transform: scale(1.25);
      }
    }

    circle {
      fill: @gray-lighter;
      stroke-width: 1.5px;
      stroke: #ccc;
      transition: @hoverTransition;
    }

    &.depth-0 {
      fill: @textDark;
      font-weight: bold;
      text-transform: uppercase;
      circle {
        stroke: @gradientBlue;
      }
    }

    &.depth-1 {
      //fill: @gray-light;
      text-transform: uppercase;
      circle {
        stroke: @gradientCyan;
      }
    }

    &.depth-2 {
      font-size: @fontXS;
    }

    &.depth-3 {
      font-size: @fontXXS;
      fill: @textLighter;
    }

  }



  .link {
    fill: none;
    stroke: @grid;
    stroke-width: 1px;

    &.depth-0 {
      stroke: @gradientBlue;
    }

    &.depth-1 {
      stroke: @gradientCyan;
    }
  }


}
