

@storyMargin: 10rem;


.stories {

  .screen-lt-lg({
    .col {
      clear: both;
      width: 100%;
      min-height: 0 !important;
      .story {
        margin-bottom: 1em;
      }
    }
  });

  .screen-lg({
    .col:nth-child(2), .col:nth-child(3) {
      padding-top: @storyMargin;
    }
  });

  .col {
    min-height: 35em;
  }
}

.story {
  display: block;
  margin-bottom: @storyMargin;
  position: relative;
  //text-align: justify;
  transition: all 0.25s ease-in-out;

  .headline {
    display: block;
  }

  > span {
    margin: 0.5em 0;
    display: block;
  }

  // TODO fix this hover bumping up and down consequent content
  &:hover, &:focus {
    background: @light;
    margin: -1rem -1rem (@storyMargin - 1rem);
    padding: 1rem;

    & > * {
      display: block;
    }
  }
}