
// typography mixins and helpers
.fontSerif() {
  font-family: "ff-tisa-web-pro", "Times New Roman", Times, serif;
}

.fontSans() {
  font-family: "ff-tisa-sans-web-pro", Lucida, sans-serif;
  font-weight: 400;
}

// some generic font sizes
// NOTE: dropping IE8 with rem
@fontXS: 0.7rem;
@fontS: 0.8rem;
@fontM: 1rem;
@fontL: 1.25rem;
@fontXL: 2.25rem;


// typography declarations

body {
  .fontSerif();
  background: @background;
  color: @textLight;
  font-size: 0.85em;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  color: @textDark;
  font-weight: 700;
  padding-bottom: 0;
  line-height: 1.1em;
  position: relative;
  text-transform: uppercase;

  .underline {
    background: @gray;
    bottom: -@underlineThickness;
    display: block;
    height: @underlineThickness;
    left: 0;
    position: absolute;
    width: 100%;

    &.underline-gradient {
      .gradient(@gradientBlue, @gradientCyan);
    }

    &.underline-solid {
      background: @textDark;
    }
  }

  // make nested links inside h tags to blend in with general heading style
  a {
    color: inherit;
  }
}

h1, .h1 {
  font-size: @fontXL;
}

h2, .h2 {
  font-size: @fontL;
}

// class for a div wrapping a h1 with span.underline inside
// this will make the h1 inline-block, so the div needs to break the flow
.headline {
  padding: 0;

  h1, .h1, h2, .h2 {
    display: inline-block;
    margin-bottom: 0;
    margin-top: 0.15em;

    a {
      background: none !important;
      display: block;
      padding: 0;

      .underline {
        transition: @hoverTransition;
      }

      &:hover,
      &:focus {
        color: @blue;
        .underline {
          background: @blue !important;
        }
      }
    }
  }
}

// buttons or button-looking elements (like a links etc)
button, .button {
  .fontSans();
  .box-sizing(border-box);
  border: 1px solid @grid;
  background: @background;
  color: @gray;
  cursor: pointer;
  display: inline-block;
  font-size: @fontS;
  outline: none;
  padding: 0.5em 1em;
  transition: @hoverTransition;

  i {
    margin-top: 0.25em;
  }

  &:hover, &:focus {
    background: @grid;
    border: 1px solid @gradientBlue;
    color: @gradientBlue;
  }
}

a {
  color: @gradientBlue;
  display: inline-block;
  outline: none;
  text-decoration: none;
  padding: 0 0.5em;

  &:hover, &:focus {
    background: @grid;
  }
}

// basic .text class to make sure columns don't get too wide
.text {
  max-width: 50em;
}


blockquote {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}

.icon-dot {
  background: @textDark;
  border-radius: 100%;
  display: inline-block;
  height: 0.5em;
  margin: 0 0.25em 0.05em 0;
  width: 0.5em;

  &.color-technology {
    background: @blue;
  }

  &.color-law {
    background: @red;
  }

  &.color-society {
    background: @green;
  }
}