

// colors
@background: #cecfd2;
@gray: #939599; // darker underlines
@grid: #e1e1e1; // light grid 1px lines

@textLight: #828489;
@textDark: #464a53;

@gradientBlue: #008bfd;
@gradientCyan: #00f579;

// also define convenience classes for colors:
.bgcolor-background { background-color: @background; }
.color-background { color: @background; }
.bgcolor-gray { background-color: @gray; }
.color-gray { color: @gray; }
.bgcolor-grid { background-color: @grid; }
.color-grid { color: @grid; }
.bgcolor-textLight { background-color: @textLight; }
.color-textLight { color: @textLight; }
.bgcolor-textDark { background-color: @textDark; }
.color-textDark { color: @textDark; }