<div id="intro">
    <div class="col">
        <div class="headline"><h1>KIRJASTO<span class="underline underline-gradient"></span></h1></div>
        <div class="headline"><h1>2030<span class="underline underline-gradient"></span></h1></div>

        <div class="hero">
            <div class="headline"><h2><a href="#/teknologia">I Teknologia<span
                    class="underline underline-gradient"></span></a></h2></div>
            <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vivamus sagittis
                lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
        </div>
    </div>
    <div class="col">
        <div class="hero">
            <div class="headline"><h2><a href="#/laki">II Laki<span class="underline underline-gradient"></span></a>
            </h2></div>
            <p>Curabitur blandit tempus porttitor.</p>
        </div>
    </div>
    <div class="col">
        <div class="hero">
            <div class="headline"><h2><a href="#/yhteiskunta">III Yhteiskunta<span
                    class="underline underline-gradient"></span></a></h2></div>
            <p>Curabitur blandit tempus porttitor. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
        </div>
    </div>
    <footer class="footer">
        <div class="headline"><h3 class="h2"><a href="#/liitteet">Liitteet<span
                class="underline underline-solid"></span></a></h3>
            <a href="#/toimijat">Toimijat</a>
            <a href="#/raportti">Tutkimusraportti</a>
        </div>
    </footer>
</div>

<div id="timeline" class="collapsed">
    <div id="timeline-line">
        <div class="tick">
            <span>2015</span>
        </div>
        <div class="tick">
            <span>2020</span>
        </div>
        <div class="tick">
            <span>2025</span>
        </div>
        <div class="tick">
            <span>2030</span>
        </div>
    </div>

    <div id="timeline-events">
        <div class="events">
            <a href="#/teknologia" class="timeline-event event-2017 event-row-1"><i class="icon-dot color-technology"></i> foobar</a>
            <a href="#/teknologia" class="timeline-event event-2022 event-row-1"><i class="icon-dot color-technology"></i> foobar</a>
            <a href="#/teknologia" class="timeline-event event-2027 event-row-1"><i class="icon-dot color-technology"></i> foobar</a>

            <a href="#/laki" class="timeline-event event-2019 event-row-2"><i class="icon-dot color-law"></i> foobar</a>
            <a href="#/laki" class="timeline-event event-2025 event-row-2"><i class="icon-dot color-law"></i> foobar</a>
            <a href="#/laki" class="timeline-event event-2030 event-row-2"><i class="icon-dot color-law"></i> foobar</a>

            <a href="#/yhteiskunta" class="timeline-event event-2020 event-row-3"><i class="icon-dot color-society"></i> foobar</a>
        </div>
    </div>
</div>