<div id="intro">
    <div class="col">
        <div class="headline"><h1>KIRJASTO<span class="underline underline-gradient"></span></h1></div>
        <div class="headline"><h1>2030<span class="underline underline-gradient"></span></h1></div>

        <div class="hero">
            <div class="headline">
                <a href="#/teknologia">
                    <img class="section-icon" src="/assets/img/icons/technology.svg">

                    <h2>I Teknologia<span
                            class="underline underline-gradient"></span></h2>

                    <p>Kirjoja luetaan yhä. Digitalisaatio on murtanut fyysisen maailman rajoitteet ja tuo
                        kirjastopalvelut yhtä lailla Pihtiputaan mummon ja Helsingin herran saataville.</p>
                </a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="hero">
            <div class="headline">
                <a href="#/laki">
                    <img class="section-icon" src="/assets/img/icons/law.svg">

                    <h2>II Laki<span class="underline underline-gradient"></span></h2>

                    <p>Kirjastolain henki säilyy muutospaineista huolimatta. Tekijänoikeuslaki muuttuu asteittain kohti
                        vapaampaa käyttöä ja selkeämpää korvausjärjestelmää.
                    </p>
                </a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="hero">
            <div class="headline"><a href="#/yhteiskunta">
                <img class="section-icon" src="/assets/img/icons/society.svg">

                <h2>III Yhteiskunta<span
                        class="underline underline-gradient"></span></h2>

                <p>Tiedon ja ihmisten liikkuminen helpottuu jatkuvasti. Ikääntyvässä Suomessa kirjasto toimii
                    uudenlaisena
                    kohtauspaikkana paikallisiin oloihin sopeutuen.</p>
            </a>
            </div>
        </div>
    </div>
    <footer class="footer">
        <div class="headline"><h3 class="h2"><a href="#/liitteet">Liitteet<span
                class="underline underline-solid"></span></a></h3>
            <a href="#/toimijaverkosto">Toimijaverkosto</a>
            <a href="#/raportti">Tutkimusraportti</a>
        </div>
    </footer>
</div>

<div id="timeline" class="collapsed">
    <div id="timeline-line">
        <div class="tick">
            <span>2015</span>
        </div>
        <div class="tick">
            <span>2020</span>
        </div>
        <div class="tick">
            <span>2025</span>
        </div>
        <div class="tick">
            <span>2030</span>
        </div>
    </div>

    <div id="timeline-events">
        <div class="events">
            <a href="#/teknologia" class="timeline-event event-2018 event-row-1"><i
                    class="icon-dot color-technology"></i> 5G-verkko kattaa koko Suomen</a>
            <a href="#/teknologia" class="timeline-event event-2020 event-row-2"><i
                    class="icon-dot color-technology"></i> Tilauspohjaiset e-kirjapalvelut arkipäivää</a>
            <a href="#/teknologia-tarinat/vastine-kirjasto-ei-suomea-peta"
               class="timeline-event event-2021 event-row-1"><i class="icon-dot color-technology"></i> Käännösalgoritmit
                asiatekstien kääntämiseksi</a>
            <a href="#/teknologia" class="timeline-event event-2024 event-row-3"><i
                    class="icon-dot color-technology"></i> Digitaalinen keskuskirjasto valtakunnallisella tasolla</a>
            <a href="#/teknologia-tarinat/huoliiko-minusta-enaa-kukaan" class="timeline-event event-2027 event-row-1"><i
                    class="icon-dot color-technology"></i> E-kirjamyynti ohittaa paperikirjojen myynnin</a>

            <a href="#/laki-tarinat/kirjastouudistus-marinin-listalla" class="timeline-event event-2017 event-row-4"><i
                    class="icon-dot color-law"></i> Kirjastolaki päivitetään digitaalisen aikaan</a>
            <a href="#/laki" class="timeline-event event-2020 event-row-5"><i class="icon-dot color-law"></i>
                Tekijänoikeuslakiremontti käynnistyy</a>
            <a href="#/laki" class="timeline-event event-2025 event-row-4"><i class="icon-dot color-law"></i>
                EU-direktiivi yleisten kirjastojen sähköisen aineiston yhdistämiseksi</a>
            <a href="#/laki-tarinat/korkeimman-oikeuden-paatos" class="timeline-event event-2028 event-row-5"><i
                    class="icon-dot color-law"></i> Tekijänoikeuslaki uudistuu, lainausrikkomus rikosnimikkeenä
                poistettiin</a>

            <a href="#/yhteiskunta-tarinat/ensimmaisen-polven-ilomantsilainen"
               class="timeline-event event-2020 event-row-6"><i class="icon-dot color-society"></i> Suuret ikäluokat
                palaavat synnyinseuduilleen</a>
            <a href="#/yhteiskunta-tarinat/ensimmaisen-polven-ilomantsilainen"
               class="timeline-event event-2025 event-row-7"><i class="icon-dot color-society"></i> Enää alle puolet
                työllisistä on jatkuvassa kokoaikaisessa palkkatyössä</a>
        </div>
    </div>
</div>