
<div class="col">
    <nav class="stories">
        <ul>
            <li>
                <a href="#/teknologia-tarinat/e-kirjan-lyhyt-elama">
                    <span class="headline"><h2 class="h3">E-kirjan lyhyt elämä<span
                            class="underline underline-gradient"></span></h2></span>
                </a>
            </li>
            <li>
                <a href="#/teknologia-tarinat/e-paperi">
                    <span class="headline"><h2 class="h3">E-paperi<span class="underline underline-gradient"></span>
                    </h2></span>
                </a>
            </li>
            <li>
                <a href="#/teknologia-tarinat/ensimmaisen-polven-ilomantsilainen">
                    <span class="headline"><h2 class="h3">Ensimmäisen polven ilomantsilainen<span
                            class="underline underline-gradient"></span></h2></span>
                </a>
            </li>
            <li>
                <a href="#/teknologia-tarinat/huoliiko-minusta-enaa-kukaan">
                    <span class="headline"><h2 class="h3">Huoliiko minusta enää kukaan?<span
                            class="underline underline-gradient"></span></h2></span>
                </a>
            </li>
            <li>
                <a href="#/teknologia-tarinat/kansanradio">
                    <span class="headline"><h2 class="h3">Kansanradio<span class="underline underline-gradient"></span>
                    </h2></span>
                </a>
            </li>
            <li>
                <a href="#/teknologia-tarinat/kirjasto-julkaisijana">
                    <span class="headline"><h2 class="h3">Kirjasto julkaisijana<span
                            class="underline underline-gradient"></span></h2></span>
                </a>
            </li>
            <li>
                <a href="#/teknologia-tarinat/kirjastouudistus-marinin-listalla">
                    <span class="headline"><h2 class="h3">Kirjastouudistus Marinin listalla<span
                            class="underline underline-gradient"></span></h2></span>
                </a>
            </li>
            <li>
                <a href="#/teknologia-tarinat/kirjoja-kaljaa-ja-kylailtoja">
                    <span class="headline"><h2 class="h3">Kirjoja, kaljaa ja kyläiltoja<span
                            class="underline underline-gradient"></span></h2></span>
                </a>
            </li>
            <li>
                <a href="#/teknologia-tarinat/korkeimman-oikeuden-paatos">
                    <span class="headline"><h2 class="h3">Korkeimman oikeuden päätös<span
                            class="underline underline-gradient"></span></h2></span>
                </a>
            </li>
            <li>
                <a href="#/teknologia-tarinat/minun-paivani">
                    <span class="headline"><h2 class="h3">Minun päiväni<span
                            class="underline underline-gradient"></span></h2></span>
                </a>
            </li>
            <li>
                <a href="#/teknologia-tarinat/mutteri-ry-matka-robottien-maailmaan">
                    <span class="headline"><h2 class="h3">Mutteri ry – Matka robottien maailmaan<span
                            class="underline underline-gradient"></span></h2></span>
                </a>
            </li>
            <li>
                <a href="#/teknologia-tarinat/naissivari-koodaa-kirjastossa">
                    <span class="headline"><h2 class="h3">Naissivari koodaa kirjastossa<span
                            class="underline underline-gradient"></span></h2></span>
                </a>
            </li>
            <li>
                <a href="#/teknologia-tarinat/oskarin-eka-koulupaiva">
                    <span class="headline"><h2 class="h3">Oskarin eka koulupäivä<span
                            class="underline underline-gradient"></span></h2></span>
                </a>
            </li>
            <li>
                <a href="#/teknologia-tarinat/palautteita-syyskuulta-2030">
                    <span class="headline"><h2 class="h3">Palautteita syyskuulta 2030<span
                            class="underline underline-gradient"></span></h2></span>
                </a>
            </li>
            <li>
                <a href="#/teknologia-tarinat/pyoratohtori-on-vuoden-asiakas">
                    <span class="headline"><h2 class="h3">Pyörätohtori on vuoden asiakas<span
                            class="underline underline-gradient"></span></h2></span>
                </a>
            </li>
            <li>
                <a href="#/teknologia-tarinat/vastine-kirjasto-ei-suomea-peta">
                    <span class="headline"><h2 class="h3">Vastine: Kirjasto ei suomea petä<span
                            class="underline underline-gradient"></span></h2></span>
                </a>
            </li>
        </ul>
    </nav>
</div>
<div class="col col-wide" id="story">

</div>