<article class="stories">
    <div class="col col-wide">
        <div class="headline"><h1>II Laki<span class="underline underline-gradient"></span></h1></div>
        <p>Kirjastolain jalo henki, vapaa mahdollisuus sivistykseen kaikille, säilytetään säästöpaineista huolimatta.
            Tätä kirjaston tehtävää hoidetaan jatkossa digitalisaation muokkaamassa toimintaympäristössä. Tiedon puute
            ei ole enää ongelma, vaan sen epätasainen laatu ja ylitarjonta, mikä nostaa kuratoinnin merkitystä.
            Tekijänoikeuslainsäädäntö uudistetaan perinpohjaisesti vuoteen 2030 mennessä, joskin pienin askelin.
            Esimerkiksi opetuskäyttöä vapautetaan ja korvausjärjestelmiä uudistetaan.</p>

        <div id="tree-illustration"></div>
    </div>

    <div class="col">
        <div class="story">
            <a href="#/laki-tarinat/korkeimman-oikeuden-paatos">
                <div class="headline"><h2>Korkeimman oikeuden päätös<span
                        class="underline underline-gradient"></span></h2></div>
                <span>Tekijänoikeus - Oikeuksien sähköisten hallinnointitietojen loukkausrikos</span>
            </a>
        </div>
    </div>
    <div class="col">
        <div class="story">
            <a href="#/laki-tarinat/kirjasto-julkaisijana">
                <div class="headline"><h2>Kirjasto julkaisijana<span
                        class="underline underline-gradient"></span></h2></div>
                <span>Otteita kirjailija Päivi Huhtasen päiväkirjasta</span>
            </a>
        </div>
    </div>
    <div class="col">
        <div class="story">
            <a href="#/laki-tarinat/kirjastouudistus-marinin-listalla">
                <div class="headline"><h2>Kirjastouudistus Marinin listalla<span
                        class="underline underline-gradient"></span></h2></div>
                <span><img class="illustration illustration-background" src="assets/img/illustrations/lista.svg">
                Kulttuuri. Vaalivoittaja Marin nostaa kulttuuri- ja koulutusalan kärkihankkeeksi vuosia vatvotun
                kirjastouudistuksen. (Helsingin Sanomat 29.4.2031)</span>
            </a>
        </div>
    </div>
    <div class="col">
        <div class="story">
            <a href="#/teknologia-tarinat/vastine-kirjasto-ei-suomea-peta">
                <div class="headline"><h2>Vastine: Kirjasto ei suomea petä<span
                        class="underline underline-gradient"></span></h2></div>
                <span>Lukutaito on kirjaston leipä, suomenkieli ruisleipä. Aamulehti 16.1.2030.</span>
            </a>
        </div>
    </div>
    <div class="col">
        <div class="story">
            <a href="#/laki-tarinat/oskarin-eka-koulupaiva">
                <div class="headline"><h2>Oskarin eka koulupäivä<span
                        class="underline underline-gradient"></span></h2></div>
                <span>Julkaistu Kevätpörriäisessä vuonna 2030</span>
            </a>
        </div>
    </div>
</article>

<script>
    $(function () {
        displayGraph(drawTree, "/data/laki.json", "#tree-illustration");
    });
</script>