<div class="col">
    <div class="headline"><h2>II Laki<span class="underline underline-gradient"></span></h2></div>
    <nav class="stories">
        <ul>
            <li>
                <a href="#/laki-tarinat/korkeimman-oikeuden-paatos">
                    <span class="headline"><h2 class="h3">Korkeimman oikeuden päätös<span
                            class="underline underline-gradient"></span></h2></span>
                </a>
            </li>
            <li>
                <a href="#/laki-tarinat/kirjasto-toimii-myos-kustantajana">
                    <span class="headline"><h2 class="h3">Kirjasto toimii myös kustantajana<span
                            class="underline underline-gradient"></span></h2></span>
                </a>
            </li>
            <li>
                <a href="#/laki-tarinat/kirjastouudistus-marinin-listalla">
                    <span class="headline"><h2 class="h3">Kirjastouudistus Marinin listalla<span
                            class="underline underline-gradient"></span></h2></span>
                </a>
            </li>
            <li>
                <a href="#/laki-tarinat/vastine-kirjasto-ei-suomea-peta">
                    <span class="headline"><h2 class="h3">Vastine: Kirjasto ei suomea petä<span
                            class="underline underline-gradient"></span></h2></span>
                </a>
            </li>
            <li>
                <a href="#/laki-tarinat/oskarin-eka-koulupaiva">
                    <span class="headline"><h2 class="h3">Oskarin eka koulupäivä<span
                            class="underline underline-gradient"></span></h2></span>
                </a>
            </li>
            <li>
                <a href="#/laki-tarinat/fanien-kirjoittamat-jatko-osat">
                    <span class="headline"><h2 class="h3">Fanien kirjoittamat jatko-osat<span
                            class="underline underline-gradient"></span></h2></span>
                </a>
            </li>
            <li>
                <a href="#/laki-tarinat/kirjastouudistus-marinin-listalla">
                    <span class="headline"><h2 class="h3">Kirjastouudistus Marinin listalla<span
                            class="underline underline-gradient"></span></h2></span>
                </a>
            </li>
        </ul>
    </nav>
</div>
<div class="col col-wide" id="story">

</div>
