<article class="stories">
    <div class="col col-wide">
        <div class="headline"><h1>II Laki<span class="underline underline-gradient"></span></h1></div>
        <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vivamus sagittis
            lacus vel augue laoreet rutrum faucibus dolor auctor.</p>

        <div>Placeholder illustration</div>
    </div>

    <div class="col">
        <div class="story">
            <div class="headline"><h2><a href="#/laki-tarinat/lainausrikkomus">Lainausrikkomus</a><span class="underline underline-gradient"></span></h2></div>
            <span>Korkeimman oikeuden päätös</span>
        </div>
    </div>
    <div class="col">
        <div class="story">
            <div class="headline"><h2><a href="#/laki-tarinat/valtiollinen-kirjasto">Valtiollinen kirjasto</a><span class="underline underline-gradient"></span></h2></div>
            <span>Eduskuntavaalit niukasti voittaneiden sosiaalidemokraattien puheenjohtaja Sanna Marin on lähettänyt puolueiden eduskuntaryhmille 15 kysymyksen listansa.</span>
        </div>
    </div>

    <div class="col">
        <div class="story">
            <h2>Tyyppi joka halua itseän lainatavaksi</h2>
        </div>
    </div>
    <div class="col">
        <div class="story">
            <h2>Susikoira Roi</h2>
        </div>
    </div>
    <div class="col col-wide">
        <div class="story">
            <div class="headline"><h2><a href="#/laki-tarinat/kirjailijan-paivakirja">Otteita kirjailija Päivi Huhtasen päiväkirjasta</a><span class="underline underline-gradient"></span></h2></div>
            <span></span>
        </div>
    </div>
    <div class="col col-clear">
        <div class="story">
            <h2>3v lapsi swaipaille paperikirjaa</h2>
        </div>
    </div>
    <div class="col col-wide">
        <div class="story">
            <h2>Sähköinen paperi</h2>
        </div>
    </div>
    <div class="col">
        <div class="story">
            <h2>Mummo kuraatorina innoissan</h2>
        </div>
    </div>
    <div class="col col-clear">
        <div class="story">
            <h2>5. polven stadilainen etätöissä</h2>
        </div>
    </div>
</article>