
    <div class="underline"><h1>Kirjasto 2030<span class="underline underline-gradient"></span></h1></div>

<h2>HYPERLOKAALIN  JAKAMISTALOUDENINFRASTRUKTUURI</h2>
<blockquote>Loppuraportti: T-111.5077 Sisällöntuotannon projektityö: Future / Media / Scenarios 5.6.2015
82045D Anssi Grekula
462017 Johannes Neumeier
412672 Susanna Peltonen
69921B Altti Rautalahti
</blockquote>
<br>
<h3>Johdanto</h3>
Suomalaisen kirjastolaitoksen tavoitteena on tarjota väestölle yhtäläiset mahdollisuudet sivistykseen verovaroin. Tässä tehtävässään se on yksi maailman edistyksellisimmistä kirjastolaitoksista. Digitaalisen murroksen edetessä on koko kirjaston olemus kuitenkin ajateltava uudelleen vastaamaan lakisääteisiä tavoitteita uudessa toimintaympäristössä. Samalla on hahmoteltava, mikä on kirjastokäytössä olevien rakennusten rooli fyysisenä tilana tulevaisuuden Suomessa.
Tässä raportissa esitetään suomalaisen kirjastolaitoksen nykytila sekä lähitulevaisuuden kannalta relevantti tekninen, oikeudellinen ja sosiaalinen infrastruktuuri siihen kohdistuvine muutosvoimineen. Tämän jälkeen analysoidaan näiden voimien vaikutuksia ja suhteita kirjastotoimialaan. Raportin lopputuloksena esitellään analyysin perusteella asiantuntijahaastatteluiden ryydittämänä laadittu skenaario kirjastosta vuonna 2030. Itse skenaario on toteutettu verkkopohjaisena multimediaesityksenä, joka on nähtävillä osoitteessa http://kirjasto2030.herokuapp.com/.
Nykytila
Suomessa toimii yksi maailman edistyksellisimmistä ja kiitellyimmistä kirjastolaitoksista. Lakiin kirjatun maksuttoman kirjastopalvelun tavoitteena on muun muassa tarjota yhdenvertaisesti tietoa, kirjallisuutta ja taidetta, puoltaa demokratiaa ja tukea elinikäistä oppimista. Tehtävänä on edistää paitsi “väestön yhtäläisiä mahdollisuuksia sivistykseen” myös “virtuaalisten ja vuorovaikutteisten verkkopalvelujen ja niiden sivistyksellisten sisältöjen kehittymistä” (Kirjastolaki, 2 §). Kansalaisten keskuudessa kirjasto nähdäänkin yhtäläisten mahdollisuuksien tarjoajana ja oppimisen tukijana (Serola & Vakkari 2011, 28). Kenties tämä johtuu siitä, että kirjojen ohella järjestettävä toiminta on pitkälti keskittynyt koulutuksiin ja kulttuuriin. Toisaalta ikääntyneemmille opetetaan laitteiden käyttöä, toisaalta järjestetään näyttelyitä ja tuetaan lasten lukemaan oppimista.
Vuoden 2011 mittauksissa kirjastoon ollaan lähes poikkeuksetta todella tyytyväisiä. Se saa enemmän kiitosta kuin mikään muu kunnan palvelu ja vielä internet-aikanakin moni vierailee siellä säännöllisesti. Vuonna 2010  melkein puolet väestöstä käytti kirjaston palveluja kuukausittain ja 81% ainakin kerran vuodessa. Erityisesti lapset, nuoret ja korkeakoulutetut naiset kävivät tiuhaan. (Serola & Vakkari 2011.)
Kirjat ovat yhä keskeisin syy sille, miksi ihmiset kirjastoon menevät. Palvelu koetaan niin luotettavaksi ja taloudelliseksi, etteivät ihmiset ainakaan vielä ole kaikonneet e-kirjojen maailmaan (Serola & Vakkari 2011, 45). Tämä tilanne voi kuitenkin muuttua lähivuosina digitaalisen murroksen vuoksi. Moni kävijä oli jo 2010 raportoinut vähentäneensä kirjastossa käymistä, ja pelkästään vuosien 2012 ja 2013 välillä käynnit tippuivat  puolellatoista miljoonalla (Kirjaston tilastot 2012 & 2013). Myös lainojen määrä oli laskenut selvästi. Oheistoiminta, kuten kesäpelien vuokraaminen tai lukupiirien pitäminen, ei siis ainakaan toistaiseksi ole elvyttänyt kirjaston hiljalleen pienenevää asiakaskuntaa.
Onkin selvää, että myös kirjastolaitoksen on muututtava lähivuosina, ehkä radikaalistikin. Väestön ikääntyminen, e-kirjojen kehittyminen, teknologisen osaamistason nousu, monimutkaistuvat tekijänoikeus- ja kopiointikysymykset sekä tiedonvälityksen nopeutuminen luovat haasteita, joita kirjasto ei voi välttää. Sen on pakko kehittyä.

Infrastruktuuri ja muutosvoimat
Teknologinen toimintaympäristö
Digitaalinen disruptio on kohdannut ensiksi jakeluformaatit: VHS-nauhoista ja C-kaseteista on siirrytty DVD-elokuviin ja CD-levyihin, kovakantisen romaanin saa halutessaan lukea myös e-kirjana. Vaikka CD-levy onkin digitaalinen tallennus- ja jakeluformaatti, niitä kuitenkin tehdään ja kulutetaan samalla logiikalla kuin analogisia vinyylilevyjä tai c-kasetteja: levylle äänitetään kymmenkunta raitaa joista pari singlelohkaisua toimii myynnin veturina. Applen iTunes-musiikkikauppa on vienyt musiikin kuluttamisen verkkoon ja samalla mahdollistanut musiikin myymisen kappale kerrallaan. Vielä suurempi disruptio musiikkiteollisuuden alalla on kuitenkin ollut suoratoistopalveluiden, kuten Spotifyn, yleistyminen, jossa lähes kaikki julkaistu musiikki on kuunneltavissa vapaasti, joko mainosrahoitteisesti tai kuukausimaksulla. Mainosrahoitteisuuteen perustuu myös YouTube, jonka malli suosii yhden hitin ihmeitä ja musiikkivideoita “perinteisten” albuminikkareiden sijaan.
Uskomme, että lähivuosina lakisääteisen tehtävänsä hyvin hoitava kirjasto seuraa yllä kuvattua kehitystä. Aineiston siirtyessä verkkoon kirjastojen tulee uudistaa myös toimintalogiikkansa. “Lainaaminen” menettää merkityksensä, kun kopiointi on tietojenkäsittelyn sisäänkirjoitettu lainalaisuus ja kovalevytila halvempaa kuin paperi. Kirjastolla on jo nyt käytössä valtakunnallinen e-kirjapalvelu, jossa tekijänoikeudesta vapautuneet kirjat ovat vapaasti luettavissa. Palvelusta löytyy myös kirjoja, joiden tekijänoikeudet ovat edelleen voimassa. Näiden osalta palvelu toimii kuten fyysisten kirjojen kanssa toimitaan: e-kirja voi olla “lainassa” vain rajatulla määrällä käyttäjiä samaan aikaan.


<h3>Oikeudellinen toimintaympäristö</h3>
Oikeudellisesta näkökulmasta keskeinen infrastruktuuri kirjastoalalla liittyy tekijänoikeuskysymyksiin. Digitalisaation paine on niin kova, että muutoksia voi tapahtua piankin. Kuka sitten omistaa teokset, entä niiden oikeudet? Paljonko yhtä kirjaa saa jakaa tai lainata ja miten kirjoittajille maksetaan?
Myös kirjastolaki antaa omat kehyksensä kirjasto- ja tietopalveluiden hahmottamiseen. Tuntuu todennäköiseltä, ettei se ole muuttumassa ihan äkkiä.
Tavataan Olli Pitkänen ja jutellaan ja tehdään sitte tähän lisää.

<h3>Sosiaalinen toimintaympäristö</h3>
Kirjastot eivät toimi kuplassa, muusta yhteiskunnasta erillään. Teknologisen toimintaympäristön lisäksi myös sosiaalinen ympäristö muuttuu.
Sähköisten palveluiden lisäksi kirjasto on fyysinen tila. Mikä on tämän tilan tehtävä, jos kirjahyllyt mahtuvat tietokoneen näytölle? Helsingin tulevasta keskuskirjastosta suunnitellaan julkista tilaa, jonka toiminnallisuuksiin ja merkityksiin kaupunkilaiset pääsevät aktiivisesti vaikuttamaan. Kirjojen tarjoamisen ohella tila tulee mahdollistamaan monenlaisia kulttuuritapahtumia ja ainakin suunnitelmissa on luoda tila joka toimii myös ei-kaupallisena kohtaamispaikkana. Onko kirjaston tehtävä tulevaisuudessa toimia kaupungintalona, jonne kaupunkilaiset tulevat tapaamaan ystäviään, rentoutumaan, lukemaan, kuuntelemaan musiikkia ja tekemään etätöitään?
Kirjastotilat voivat tulevaisuudessa tarjota sellaisia palveluita ja laitteita kaupunkilaisten käyttöön, joista emme edes osaa unelmoida. Helsingin keskustasta, Lasipalatsista, löytyy jo nyt kirjaston toimipiste, jossa kaupunkilaiset saavat vapaasti käyttää esimerkiksi 3D-tulostinta, 3D-skanneria, 3D-jyrsintä, vinyylileikkuria ja lämpöprässiä. Paikalla on myös opastusta muun muassa kuvankäsittelyyn ja videoeditointiin. Ehkä jossain tulevaisuudessa syntyy sukupolvi, joka ihmettelee mistä kirjaston nimi tulee.
Helsingin lisäksi on syytä pohtia muun Suomen kehitystä. Onko palveluiden sähköistyminen riittävä syy lakkauttaa syrjäseutujen toimipisteet? Toisaalta voidaan miettiä voiko kulkuyhteyksien paraneminen ja etätyömahdollisuuksien lisääntyminen johtaa tilanteeseen, jossa muuttoliikkeet eivät viekään väestöä kasvukeskuksiin, vaan takaisin kaupungeista maaseudulle. Pikajuna vuonna 2030 Kemijärveltä Helsinkiin, matka-aika 90 minuuttia.
Se mihin kirjastorakennuksia tullaan tulevaisuudessa sijoittamaan on poliittinen päätös. Ikääntyvässä Suomessa poliittista voimaa tulee enenevissä määrin käyttämään yli 65-vuotiaat, joita ennustetaan vuonna 2030 olevan yli 1,5 miljoonaa. Jää nähtäväksi mikä on vuonna 2030 Suomen suurimman puolueen, Eläkeläisten puolueen (ElPu, ent. Keskusta), kanta kirjastopalveluiden merkityksestä. Onko tulevaisuuden vanhuskin jo niin harjaantunut verkkopalveluiden käyttäjä, että kirjastotoimipisteiden karsiminen jatkuu tulevinakin vuosikymmeninä?

Omistajuus:
Viimeisen viiden vuoden sisällä Suomeen on noussut erilaisia varastoyrityksiä, joiden tiloihin pienissä kaupunkiasunnoissaan asuvat ihmiset ulkoistavat omaisuuttaan. Mediat ovat pauhanneet himohamstraajista ja pakkomielteisistä keräilijöistä ja internet on tehnyt ostamisesta niin helppoa, ettei tarvitse lähteä kotoa. Toisille vaatteista on tullut kertakäyttötavaraa, vaikka suuri osa suomalaisistakin omistaa niitä niin paljon, ettei tarvitsisi enää ikinä käydä ostoksilla.
Toisaalta varsinkin kaupunkialueilla on nähtävissä myös toisen suuntaista kehitystä. Sohvasurffauksen suosio on kasvussa, moni nuori asuu yhteisessä asunnossa, ei yksiössä, ja oman auton sijaan voikin vuokrata taloyhtiön kaaraa. Ihmiset jakavat apua toisilleen ja vaihtavat tavaroita. Verkkoon on syntynyt vaihdantasivustoja, kuten Sharetribe, joissa ei makseta rahalla, vaan esimerkiksi omalla osaamisella tai lainattavalla omaisuudella – verottajakin on jo kiinnostunut, osittain myös huolestunut ilmiöstä.
Moni on myös sitä mieltä, että ilmiö ei ole katoamassa vaan kasvattamassa suosiotaan. “Tulevaisuuden ostoksilla käynti on lainaamista”, ehdottaa Adam Werbach, innokas jakamistalouden puolestapuhuja. Eikä hän ole ainoa. Maailmalla on tällä hetkellä olemassa lukuisia sovelluksia, sivustoja ja yhteisöjä, joissa vaihdetaan vaatteita, neuvoja ja aikaa ja myös moni tutkija on viime aikoina kiinnostunut aiheesta.
Meistä jakamistalous tuo mielenkiintoisia ulottuvuuksia myös kirjastotoimintaan. Jos omistamisen tarve vähenee, kasvaako kirjaston suosio? Alkaako kirjasto lainata muunlaista tavaraa tekstiteosten lisäksi? Entä jos jokin palvelu syrjäyttää kirjaston, kun kaiken voi lainata muualta helpommin?
Kirjaston tulevaisuus
Miten yllä esitetyt muutosvoimat vaikuttavat tulevaisuuden kirjastolaitokseen annetun infrastruktuurin puitteissa?

<h3>Teesit</h3>
Teesi: Kirjaston aineistot digitalisoituvat. Kaikki aineisto on tulevaisuudessa saatavilla digitaalisessa muodossa ja vain osasta säilytetään myös fyysisiä kopioita.
Teesi: Kirjastolain henki säilyy ennallaan. Kaikille yhtäläinen mahdollisuus sivistykseen pääasiassa maksuttomin palveluin.
Teesi: Kirjastorakennus ottaa jakamistaloudessa paikkansa tiedon ja taitojen jakamisen keskuksena, työpajana ja kohtaamispaikkana.
Teesi: Kuratointi ei katoa, mutta se muuttuu. Vertaisarviointi nousee keskeisemmäksi myös kirjastoissa.
Teesi: Yli 65-vuotiaiden ikäryhmä tulee olemaan merkittävä poliittinen voima, joka vaikuttaa myös kirjaston tulevaisuuteen.
Teesi: Muuttoliike kaupunkeihin lakkaa/jatkuu. Kirjastojen määrä kasvaa/vähenee - Mitä mieltä olette?

<h4>Lähteet</h4>
5g-verkko: http://yle.fi/uutiset/tulevaisuuden_5g-verkko_tulee_mullistamaan_langattoman_tiedonsiirron/7876044
Ikärakenne: http://tilastokeskus.fi/til/vaenn/2012/vaenn_2012_2012-09-28_kuv_003_fi.html
http://www.stat.fi/artikkelit/2012/art_2012-03-12_001.html?s=0
Itsensä työllistäjät: http://www.stat.fi/tup/julkaisut/tiedostot/julkaisuluettelo/yits_201400_2014_12305_net.pdf
http://www.stat.fi/ajk/tiedotteet/2014/uutinen_006_2014-02-13.html
Kirjastolaki 4.12.1998/904: https://www.finlex.fi/fi/laki/ajantasa/1998/19980904
http://libereurope.eu/wp-content/uploads/liber_strategic_plan_2013-2015_final_version.pdf
http://keskustakirjasto.fi/en/
http://www.helmet.fi/fi-FI/Ekirjasto
http://www.kaupunkiverstas.fi/
http://web-profile.com.ua/wp-content/uploads/clayton-christensen-innovators-dilemma.pdf
http://www.stat.fi/til/muutl/
http://www.ymparisto.fi/fi-FI/Asuminen/Ikaantyneiden_asuminen
Yleinen kirjasto kuntalaisten toimissa: http://www.minedu.fi/export/sites/default/OPM/Julkaisut/2011/liitteet/OKM21.pdf?lang=fi
Kirjaston tilastot (käytetty vuosia 2012 & 2013): http://tilastot.kirjastot.fi/fi-FI/tilastohaku.aspx
sharetribe: http://www.theseus.fi/handle/10024/52925
http://www.minedu.fi/OPM/Kirjastot/kansainvaelinen_ja_eu-yhteistyoe/?lang=fi
http://www.suosittelija.fi
Käyttäjäkyselyjä/-tutkimuksia: http://www.kansalliskirjasto.fi/kirjastoala/koordinointi/kayttajakysely2013/Files/liitetiedosto2/Sektori_Yleiset_kirjastot.pdf
http://www.minedu.fi/export/sites/default/OPM/Julkaisut/2011/liitteet/OKM21.pdf?lang=fi
Kuntien välisestä yhteistyöstä:
http://www.kunnat.net/fi/asiantuntijapalvelut/opeku/kulti/kirjasto/kirjastoyhttyo/Sivut/default.aspx
Tilastotietoja: http://tilastot.kirjastot.fi/
EU: http://libereurope.eu/strategy/
