<div class="underline"><h1>Kirjasto 2030<span class="underline underline-gradient"></span></h1></div>
<h2 style="margin-bottom: 0;">Loppuraportti</h2>

<small><a href="/assets/kirjasto2030-loppuraportti.pdf">Lataa PDF versio</a></small>
<br>
<br>

<small>T-111.5077 Sisällöntuotannon projektityö: Future / Media / Scenarios
    28.6.2015<br>
    82045D Anssi Grekula<br>
    462017 Johannes Neumeier<br>
    412672 Susanna Peltonen<br>
    69921B Altti Rautalahti
</small>



<h2>Johdanto</h2>
<p>Suomalaisen kirjastolaitoksen tavoitteena on tarjota väestölle yhtäläiset mahdollisuudet sivistykseen verovaroin.
    Tässä tehtävässään se on yksi maailman edistyksellisimmistä kirjastolaitoksista. Digitaalisen murroksen edetessä on
    koko kirjaston olemus kuitenkin ajateltava uudelleen vastaamaan lakisääteisiä tavoitteita uudessa
    toimintaympäristössä. Samalla on hahmoteltava, mikä on kirjastokäytössä olevien rakennusten rooli fyysisenä tilana
    tulevaisuuden Suomessa.</p>
<p>Suomen kirjastoverkosto koostuu yleisistä eli kunnallisista kirjastoista sekä yliopisto-, ammattikorkeakoulu-,
    oppilaitos- ja erikoiskirjastoista. Lisäksi Kansalliskirjasto tarjoaa palveluita kaikille kirjastoille ja vastaa
    kansallisesta julkaisuperinnöstä ja tieteellisistä kokoelmista. Kunnallisia kirjastoja tukee Helsingin
    kaupunginkirjasto, joka on vuodesta 1981 alkaen toiminut yleisten kirjastojen keskuskirjastona. Opetus- ja
    kulttuuriministeriö on säätänyt toiminta-alueet myös 18 maakuntakirjastolle, jotka tukevat alueensa
    kirjastopalveluja, esimerkiksi järjestämällä koulutustilaisuuksia.</p>
<p>Tässä raportissa esitetään suomalaisen kirjastolaitoksen nykytila sekä lähitulevaisuuden kannalta relevantti
    tekninen, oikeudellinen ja sosiaalinen infrastruktuuri siihen kohdistuvine muutosvoimineen. Tämän jälkeen
    analysoidaan näiden voimien vaikutuksia ja suhteita kirjastotoimialaan. Raportin lopputuloksena esitellään analyysin
    perusteella ja asiantuntijahaastatteluiden ryydittämänä laadittu skenaario kirjastosta vuonna 2030. Itse skenaario
    on toteutettu verkkopohjaisena multimediaesityksenä, joka on nähtävillä osoitteessa
    <a href="http://kirjasto2030.herokuapp.com">http://kirjasto2030.herokuapp.com</a>.</p>

<h2>Nykytila</h2>
<p>Suomessa toimii yksi maailman edistyksellisimmistä ja kiitellyimmistä kirjastolaitoksista. Lakiin kirjatun
    maksuttoman kirjastopalvelun tavoitteena on muun muassa tarjota yhdenvertaisesti tietoa, kirjallisuutta ja taidetta,
    puoltaa demokratiaa ja tukea elinikäistä oppimista (Serola & Vakkari 2011). Tehtävänä on edistää paitsi “väestön
    yhtäläisiä mahdollisuuksia sivistykseen” myös “virtuaalisten ja vuorovaikutteisten verkkopalvelujen ja niiden
    sivistyksellisten sisältöjen kehittymistä” (Kirjastolaki, 2 §).</p>
<p>Yleisten kirjastojen määrä on vähentynyt viime vuosina. Jos katsoo pidemmälle menneisyyteen, <a href="http://www.mtv.fi/uutiset/kotimaa/artikkeli/taman-vuoksi-lahikirjastot-katoavat-suomalaiset-lainaavat-yha-vahemman/5178122">voidaan jo puhua
    kirjastojen määrän romahtamisesta</a>.
    Kunnat päättävät itse kirjastopalveluiden järjestämisestä, kirjastolain puitteissa. Säästöpaineet ovat johtaneet
    kirjastoverkon harvenemiseen. Opetus- ja kulttuuriministeriö pohtii parhaillaan voitaisiinko kuntien vastuita
    keventää kirjastopalveluiden järjestäjänä (HS 3.6.2015). Pahimmillaan tämä voi johtaa kirjastopalveluiden
    merkittävään heikkenemiseen joissain kunnissa.</p>

<img class="graph" src="/assets/img/report/main-libraries.png">
<img class="graph" src="/assets/img/report/side-libraries.png">

Lähde: <a href="http://visualisointi.kirjastot.fi/tilastot/">http://visualisointi.kirjastot.fi/tilastot/</a>

<p>Yksi tapa luoda säästöjä on yhtenäistää kirjastopalveluiden tuottamista valtakunnallisella tasolla. Monet kunnat ovat
    toteuttaneet kirjastonsa verkkopalvelut yhdessä lähikuntien kanssa. Esimerkiksi pääkaupunkiseudun HelMet-kirjastoon
    kuuluvat Helsingin, Espoon, Kauniaisten ja Vantaan kaupunginkirjastot. Vuonna 2014 avattu opetus- ja
    kulttuuriministeriön rahoittama valtakunnallinen kirjastot.fi-palvelu kokoaa yhteen kirjastojen käytössä olevat
    verkkopalvelut. Palvelun kautta voi myös ladata vapaasti tekijänoikeudesta vapautuneita e-kirjoja.</p>
<p>Suurin osa kirjastojen e-aineistosta on kuitenkin käytettävissä vain kirjastokortilla oman kirjaston kokoelmasta.
    Kirjastot ostavat e-aineistonsa erilaisten kaupallisten palveluiden kautta. Tämä asettaa kunnat epätasa-arvoiseen
    asemaan, koska kaikilla kunnilla ei ole varaa ostaa yhtä laajoja aineistoja asukkaidensa käyttöön.</p>

<h2>Kansalaiset arvostavat kirjastoa</h2>
<p>Kansalaisten keskuudessa kirjasto nähdään yhtäläisten mahdollisuuksien tarjoajana ja oppimisen tukijana. (Serola &
    Vakkari 2011, 28). Kenties tämä johtuu siitä, että kirjojen ohella järjestettävä toiminta on pitkälti keskittynyt
    koulutuksiin ja kulttuuriin. Toisaalta ikääntyneemmille opetetaan laitteiden käyttöä, toisaalta järjestetään
    näyttelyitä ja tuetaan lasten lukemaan oppimista.</p>
<p>Vuoden 2011 mittauksissa kirjastoon oltiin lähes poikkeuksetta todella tyytyväisiä. Kirjasto sai enemmän kiitosta
    kuin mikään muu kunnan palvelu ja vielä internet-aikanakin moni vierailee siellä säännöllisesti. Vuonna 2010 melkein
    puolet väestöstä käytti kirjaston palveluja kuukausittain ja 81% ainakin kerran vuodessa. Erityisesti lapset, nuoret
    ja korkeakoulutetut naiset kävivät tiuhaan. (Serola & Vakkari 2011.)</p>
<p>Kirjat ovat yhä keskeisin syy sille, miksi ihmiset kirjastoon menevät. Palvelu koetaan niin luotettavaksi ja
    taloudelliseksi, etteivät ihmiset ainakaan vielä ole kaikonneet e-kirjojen maailmaan (Serola & Vakkari 2011, 45).
    Tämä tilanne voi kuitenkin muuttua lähivuosina. Moni kävijä oli jo vuonna 2010 raportoinut vähentäneensä kirjastossa
    käymistä (Serola & Vakkari 2011), ja pelkästään vuosien 2012 ja 2013 välillä käynnit tippuivat puolellatoista
    miljoonalla. Myös lainojen määrä oli laskenut selvästi. (Kirjaston tilastot 2012 & 2013.) Oheistoiminta, kuten
    kesäpelien vuokraaminen tai lukupiirien pitäminen, ei siis ainakaan toistaiseksi ole elvyttänyt kirjaston hiljalleen
    pienenevää asiakaskuntaa. Ihmisten vapaa-ajasta käydään armotonta kilpailua, ja <a href="http://yle.fi/uutiset/lukeminen_on_haviamassa_kilpailun_lasten_vapaa-ajasta/7349593">uudet viihdemuodot ovat vähentäneet
    kirjojen kulutusta varsinkin nuorten keskuudessa</a>.</p>
<p>Onkin selvää, että myös kirjastolaitoksen on muututtava lähivuosina, ehkä radikaalistikin. Monissa maissa kirjastot
    ovat kokeneet digitalisoitumisen ahdistavana (Ershova & Hohlov 2012, 11). Toistaiseksi Suomen kirjastossa on
    kuitenkin panostettu hybridiajatukseen. Kirjaston avulla on esimerkiksi yritetty kuroa digitaalista kuilua umpeen
    ihmisten ja tiedon väliltä. (Serola & Vakkari 2011, 100.) Suomessa tietokoneita ei siis ole koettu pelkästään
    uhkana.</p>
<p>Täällä on myös pyritty alleviivaamaan asiantuntijuutta eli kuratoinnin merkitystä (Serola & Vakkari 2011, 100).
    Kirjastonhoitajia ei vielä ole täysin korvattu laitteilla, vaikka harvempi ehkä tukeutuu heidän
    asiantuntemukseensa.</p>

<h2>Infrastruktuuri ja muutosvoimat</h2>

<h3>Teknologinen toimintaympäristö</h3>
<p>Digitaalinen disruptio on kohdannut ensiksi jakeluformaatit: VHS-nauhoista ja C-kaseteista siirryttiin DVD-elokuviin
    ja CD-levyihin. Lopulta musiikkiaineistojen jakelu koki murroksen: ensin tulivat laittomat latauspalvelut, sitten
    lailliset markkinapaikat, etunenässä Apple iTunes ja myöhemmin suoratoistopalvelut kuten Spotify ja uusimpana Apple
    Music. Nykyään lähes kaikki julkaistu musiikki on kuunneltavissa vapaasti, joko mainosrahoitteisesti tai
    kuukausimaksulla.</p>
<p>Myös kirjalliset teokset ovat kovaa vauhtia digitalisoitumassa. Murros on vasta aluillaan, mutta esimerkiksi
    pääkaupunkiseudun Helmet-kirjastoissa kehitys on jo havaittu. <a href="http://www.helmet.fi/fi-FI/Ekirjasto/Juttuja_ekirjastosta/Kotimaisia_ekirjoja_lainataan_ahkerasti">Viime vuonna e-kirjojen lainausmäärät
    kaksinkertaistuivat edellisvuoteen verrattuna</a>. <a href="http://www.taloussanomat.fi/tietoliikenne/2015/01/30/elisa-e-kirjojen-myynti-kaksinkertaistui/20151303/12">Myös e-kirjojen
    myynti on kokenut erittäin voimakasta kasvua</a>.
    Kustantajat pohtivat tällä hetkellä ankarasti asemaansa uudessa toimintaympäristössä. <a href="http://suomenkuvalehti.fi/kirjailijanpaivakirja/bonnier-ostaa-akateemisen-kustantajakirjakauppiuuden-uusi-aika/?shared=372-76a96d59-999">Suomen merkittävimmät
    kustantajat ovat nykyään myös merkittävimmät kirjojen myyjät</a>.</p>
<p>Rajattoman jakelun mahdollistava tekniikka vaatii toimiakseen ympäristön, jossa se hyödyttää kaikkia osapuolia, myös
    sisällöntuottajia, kuten kirjailijoita. Tämän takia vapaassa jakelussa on ainoastaan jo tekijänoikeudesta
    vapautuneita e-kirjoja. Jo nyt alalla toimii kuitenkin useita yrityksiä, jotka tarjoavat kirjastojen käyttöön omia
    e-kirjakokoelmiaan. Suomessa kirjastojen keskuudessa näistä suosituin on <a href="http://www.ellibs.com/fi/kirjastoille">Ellibs</a>, joka myy yksittäisiä e-kirjoja kuluttajille, sekä tarjoaa laajoja
    e-aineistoja kirjastoille ja yrityksille.</p>
<p>Nykyisin kirjastot siis ostavat asiakkailleen käyttöoikeuden kaupallisten toimijoiden palveluihin. Tulevaisuudessa
    kirjasto aikoo panostaa omaan valtakunnaliseen kirjastot.fi-palveluunsa, johon se tulee keräämään aineistoja
    kaupallisilta ja ei-kaupallisilta toimijoilta.</p>
<p>Kirjasto on tällä hetkellä aktiivisesti mukana digitaalisessa kehityksessä myös muiden palveluidensa osalta.
    Varsinkin pääkaupunkiseudulla kirjasto tarjoaa asiakkaidensa käyttöön erilaisia laitteita kuten 3d-printtereitä,
    lainausautomaatteja, tietokoneita, sekä opetusta näiden käyttöön. Teknologia ja digitalisaatio onkin nostettu esille
    monessa kohdassa <a href="http://www.kirjastot.fi/sites/default/files/content/Ykn-strategia-kirjastoversio-fin.pdf">yleisten kirjastojen strategiaa</a>.</p>

<h3>Oikeudellinen toimintaympäristö</h3>
<p>Oikeudellisesta näkökulmasta keskeinen infrastruktuuri kirjastoalalla liittyy tekijänoikeuskysymyksiin.
    Tekijänoikeuslaissa on määritelty miten teoksia saa levittää ja miten lainauskorvaukset määräytyvät. Digitalisaation
    paine on niin kova, että muutoksia voi tapahtua piankin. Nykylainsäädännössä esimerkiksi “tietokoneella luettavassa
    muodossa olevia tietokoneohjelmia” koskee osittain eri säädökset kuin kirjallisia teoksia. (Tekijänoikeuslaki, 19 §,
    20 §) Miten e-kirjat nähdään lain silmissä on vielä osittain avoin kysymys. Jos teoksen julkaisija lisää e-kirjaan
    vaikkapa interaktiivisen osion, voi hän ainakin teoriassa kutsua teostaan tietokoneohjelmaksi, jolloin siihen
    sovelletaan eri tekijänoikeuslakeja kuin kirjoihin.</p>
<p>Myös kirjastolaki antaa omat kehyksensä kirjasto- ja tietopalveluiden hahmottamiseen. Lain mukaan kunnan tulee
    tarjota asukkailleen maksuttomia kirjastopalveluita, ja arvioida palveluidensa tasoa opetus- ja kulttuuriministeriön
    päätösten mukaisesti (Kirjastolaki, 5 §, 6 §). Opetus- ja kulttuuriministeriö on kaavaillut muutoksia
    kirjastolakiin. Ministeriössä pohditaan parhaillaan mikä kuntien vastuu kirjastopalveluiden tuottajana tulee
    tulevaisuudessa olemaan. (HS 3.6.2015)</p>
<p>Kirjastolaitoksella on paljon yhteistä elinikäisen oppimisen, koulutuksen ja sivistyksen alueella Yleisradion ja
    koululaitoksen kanssa. Yle tuottaa valtavat määrät monenlaista mediasisältöä samoin tavoittein kuin kirjasto
    sisältöjä kuratoi, kanavoi ja jakelee. Kirjaston digitalisoituessa käytännön rajanveto Yleen hämärtynee entisestään.
    Lisäksi koululaitos ahkerana sisällön kuluttajana voinee jatkossa hyödyntää sekä Yleisradion että julkisen kirjaston
    palveluita paremmin osana opetusta jo 1960-luvulla lanseeratun Koulu-tv:n tavoin. Näiden kolmen valtiollisen
    sivistyslaitoksen lainsäädännöllisestä lähentämisestä saatetaan tulevaisuudessa hakea synergiaetuja.</p>

<h3>Sosiaalinen toimintaympäristö</h3>
<p>Kirjastot eivät toimi kuplassa, muusta yhteiskunnasta erillään. Sen sijaan niiden tulisi olla osa tiedon
    infrastruktuuria (Ershova & Hohlov 2012, 12). Tiedon toimintaympäristö on viime vuosina muuttunut rajusti
    hakukoneiden syrjäytettyä tietokirjat, mutta teknologia ei ole ainoa muutosvoima. Myös sosiaalinen ympäristö
    muuttuu.</p>
<p>Sähköisten palveluiden lisäksi kirjasto on fyysinen tila. Mikä on tämän tilan tehtävä, jos kirjahyllyt mahtuvat
    tietokoneen näytölle? Helsingin tulevasta keskuskirjastosta suunnitellaan julkista tilaa, jonka toiminnallisuuksiin
    ja merkityksiin <a href="http://keskustakirjasto.fi/kaupunkilaisten-aani-osallistava-suunnittelu/">kaupunkilaiset pääsevät aktiivisesti vaikuttamaan</a>. Kirjojen tarjoamisen ohella tila tulee
    mahdollistamaan monenlaisia kulttuuritapahtumia ja ainakin suunnitelmissa on luoda tila joka toimii myös
    ei-kaupallisena kohtaamispaikkana. Onko kirjaston tehtävä tulevaisuudessa toimia kaupungintalona, jonne
    kaupunkilaiset tulevat tapaamaan ystäviään, rentoutumaan, lukemaan, kuuntelemaan musiikkia ja tekemään
    etätöitään?</p>
<p>Kirjastotilat voivat jatkossa tarjota sellaisia palveluita ja laitteita kaupunkilaisten käyttöön, joista emme edes
    osaa unelmoida. Helsingin keskustasta, Lasipalatsista, löytyy jo nyt <a href="http://www.kaupunkiverstas.fi/">kirjaston toimipiste, jossa kaupunkilaiset
    saavat vapaasti käyttää esimerkiksi 3D-tulostinta, 3D-skanneria, 3D-jyrsintä, vinyylileikkuria ja lämpöprässiä</a>. Paikalla on myös opastusta muun muassa kuvankäsittelyyn ja videoeditointiin. Ehkä
    jossain tulevaisuudessa syntyy sukupolvi, joka ihmettelee mistä kirjaston nimi tulee. <a href="http://www.reuters.com/article/2014/08/25/us-usa-florida-library-idUSKBN0GP0W620140825">Floridassa avattiin jo itseään
    kirjastoksi tituleeraava tila, jossa ei ole yhtäkään kirjaa hyllyssä</a>.</p>
<p>Helsingin lisäksi on syytä pohtia muun Suomen kehitystä. Onko palveluiden sähköistyminen riittävä syy lakkauttaa
    syrjäseutujen toimipisteet? Toisaalta voidaan miettiä voiko kulkuyhteyksien paraneminen ja etätyömahdollisuuksien
    lisääntyminen johtaa tilanteeseen, jossa muuttoliikkeet eivät viekään väestöä kasvukeskuksiin, vaan takaisin
    kaupungeista maaseudulle. Pikajuna vuonna 2030 Seinäjoelta Helsinkiin, matka-aika 90 minuuttia.</p>
<p>Se mihin kirjastorakennuksia tullaan tulevaisuudessa sijoittamaan on poliittinen päätös. Ikääntyvässä Suomessa
    poliittista voimaa tulee enenevissä määrin käyttämään yli 65-vuotiaat, joita <a href="http://www.stat.fi/artikkelit/2012/art_2012-03-12_001.html?s=0">ennustetaan vuonna 2030 olevan yli 1,5
    miljoonaa</a>. Jää nähtäväksi mikä on vuonna 2030
    Suomen suurimman puolueen, Eläkeläisten puolueen (ElPu, ent. Keskusta), kanta kirjastopalveluiden merkityksestä.
    Onko tulevaisuuden vanhuskin jo niin harjaantunut verkkopalveluiden käyttäjä, että kirjastotoimipisteiden karsiminen
    jatkuu tulevinakin vuosikymmeninä?</p>

<h4>Omistajuudesta jakamistalouteen</h4>
<p>Viimeisen viiden vuoden sisällä Suomeen on noussut erilaisia varastoyrityksiä, joiden tiloihin pienissä
    kaupunkiasunnoissaan asuvat ihmiset ulkoistavat omaisuuttaan. Mediat ovat pauhanneet himohamstraajista ja
    pakkomielteisistä keräilijöistä ja internet on tehnyt ostamisesta niin helppoa, ettei tarvitse lähteä kotoa.
    Toisille vaatteista on tullut kertakäyttötavaraa, vaikka suuri osa suomalaisistakin omistaa niitä niin paljon, ettei
    tarvitsisi enää ikinä käydä ostoksilla.</p>
<p>Toisaalta varsinkin kaupunkialueilla on nähtävissä myös toisen suuntaista kehitystä. Sohvasurffauksen suosio on
    kasvussa, moni nuori asuu yhteisessä asunnossa, ei yksiössä, ja oman auton sijaan voikin vuokrata taloyhtiön kaaraa.
    Ihmiset jakavat apua toisilleen ja vaihtavat tavaroita. Verkkoon on syntynyt vaihdantasivustoja, kuten Sharetribe,
    joissa ei makseta rahalla, vaan esimerkiksi omalla osaamisella tai lainattavalla omaisuudella – verottajakin on jo
    kiinnostunut, osittain myös huolestunut ilmiöstä.</p>
<p>Moni on myös sitä mieltä, että ilmiö ei ole katoamassa vaan kasvattamassa suosiotaan. <a href="http://www.triplepundit.com/special/rise-of-the-sharing-economy/adam-werbach-yerdle-sharing-economy/">“Tulevaisuuden ostoksilla
    käynti on lainaamista”, ehdottaa Adam Werbach, innokas jakamistalouden puolestapuhuja</a>, eikä hän ole
    ainoa. Maailmalla on tällä hetkellä olemassa lukuisia sovelluksia, sivustoja ja yhteisöjä, joissa vaihdetaan
    vaatteita, neuvoja ja aikaa ja myös moni tutkija on viime aikoina kiinnostunut aiheesta.</p>
<p>Jakamistalous tuo mielenkiintoisia ulottuvuuksia myös kirjastotoimintaan. Jos omistamisen tarve vähenee, kasvaako
    kirjaston suosio? <a href="http://haku.helmet.fi/iii/encore/search/C__S%28esine%20-taiteilijakirja%29%20f%3Aq__Ff%3Afacetmediatype%3Aq%3Aq%3AEsine%3A%3A__Orightresult__U__X0?lang=fin&suite=cobalt">Jo nyt pääkaupunkiseudun Helmet-kirjastoista on lainattavissa kattava määrä erilaisia
    käyttöesineitä kuormapolkupyöristä työkaluihin</a>.
    <a href="http://www.helmet.fi/fi-FI/Kirjastot_ja_palvelut/Lainattavat_esineet">Lisäksi kirjasto tekee yhteistyötä</a> kotimaisen tavaroiden lainauspalvelun, <a href="http://www.kuinoma.fi/">Kuinoman</a>, kanssa.</p>

<br>
<br>
<h2>Teesit</h2>
<ul>
    <li>Kirjaston aineistot digitalisoituvat. Kaikki aineisto on tulevaisuudessa saatavilla valtakunnallisesti
        digitaalisessa muodossa ja vain osasta säilytetään myös fyysisiä kopioita.
    </li>
    <li>Kirjastolain henki säilyy ennallaan. Kaikille yhtäläinen mahdollisuus sivistykseen pääasiassa maksuttomin
        palveluin.
    </li>
    <li>Kirjastorakennus ottaa jakamistaloudessa paikkansa tiedon ja taitojen jakamisen keskuksena, työpajana ja
        kohtaamispaikkana.
    </li>
    <li>Yli 65-vuotiaiden ikäryhmä tulee olemaan merkittävä poliittinen voima, joka vaikuttaa myös kirjaston
        tulevaisuuteen.
    </li>
</ul>
<br>
<br>
<br>
<br>



<div class="sources">
<h3>Lähteet</h3>

<h4>Haastattelut:</h4>
Olli Pitkänen, Research Director at <a href="http://www.iprinfo.com/">IPR University Center</a><br>
Matti Tolvanen,  Palvelupäällikkö, Helsingin kaupunginkirjasto<br>
Virva Nousiainen-Hiiri, Toimistopäällikkö, Helsingin kaupunginkirjasto<br>
Jukka Tammilehto, Avainasiakaspäällikkö, BTJ Finland Oy (Yritys, joka tarjoaa palveluja yleisille kirjastoille)

<h4>5g-verkko:</h4> <a href="http://yle.fi/uutiset/tulevaisuuden_5g-verkko_tulee_mullistamaan_langattoman_tiedonsiirron/7876044">http://yle.fi/uutiset/tulevaisuuden_5g-verkko_tulee_mullistamaan_langattoman_tiedonsiirron/7876044</a>

<h4>Ikärakenne:</h4> <a href="http://tilastokeskus.fi/til/vaenn/2012/vaenn_2012_2012-09-28_kuv_003_fi.html">http://tilastokeskus.fi/til/vaenn/2012/vaenn_2012_2012-09-28_kuv_003_fi.html</a><br>
<a href="http://www.stat.fi/artikkelit/2012/art_2012-03-12_001.html?s=0">http://www.stat.fi/artikkelit/2012/art_2012-03-12_001.html?s=0</a>

<h4>Itsensä työllistäjät:</h4> <a href="http://www.stat.fi/tup/julkaisut/tiedostot/julkaisuluettelo/yits_201400_2014_12305_net.pdf">http://www.stat.fi/tup/julkaisut/tiedostot/julkaisuluettelo/yits_201400_2014_12305_net.pdf</a><br>
<a href="http://www.stat.fi/ajk/tiedotteet/2014/uutinen_006_2014-02-13.html">http://www.stat.fi/ajk/tiedotteet/2014/uutinen_006_2014-02-13.html</a>

<h4>Kirjastolaki 4.12.1998/904:</h4> <a href="https://www.finlex.fi/fi/laki/ajantasa/1998/19980904">https://www.finlex.fi/fi/laki/ajantasa/1998/19980904</a>

<h4>Tekijänoikeuslaki:</h4> <a href="https://www.finlex.fi/fi/laki/ajantasa/1961/19610404">https://www.finlex.fi/fi/laki/ajantasa/1961/19610404</a><br>
<a href="http://libereurope.eu/wp-content/uploads/liber_strategic_plan_2013-2015_final_version.pdf">http://libereurope.eu/wp-content/uploads/liber_strategic_plan_2013-2015_final_version.pdf</a>

<h4>Keskuskirjasto:</h4> <a href="http://keskustakirjasto.fi/en/">http://keskustakirjasto.fi/en/</a><br>
<h4>Pääkaupunkiseudun kirjastoverkko:</h4> <a href="http://www.helmet.fi/fi-FI/Ekirjasto">http://www.helmet.fi/fi-FI/Ekirjasto</a><br>
<a href="http://www.kaupunkiverstas.fi/">http://www.kaupunkiverstas.fi/</a>

<h4>Muuttoliike Suomessa:</h4> <a href="http://www.stat.fi/til/muutl/">http://www.stat.fi/til/muutl/</a>

<h4>Ikääntyneiden asuminen:</h4> <a href="http://www.ymparisto.fi/fi-FI/Asuminen/Ikaantyneiden_asuminen">http://www.ymparisto.fi/fi-FI/Asuminen/Ikaantyneiden_asuminen</a>

<h4>Yleinen kirjasto kuntalaisten toimissa:</h4>
Serola, Sami & Vakkari, Pentti (2011): Yleinen kirjasto kuntalaisten toimissa - Tutkimus kirjastojen hyödyistä kuntalaisten arkielämässä. Opetus- ja kulttuuriministeriö 2011:21.

<h4>Kirjaston tilastot:</h4> <a href="http://tilastot.kirjastot.fi/fi-FI/tilastohaku.aspx">http://tilastot.kirjastot.fi/fi-FI/tilastohaku.aspx</a>

<h4>Kirjastojen nykytila:</h4>
Ershova, T.V. & Hohlov, Yuri E. (2012): Libraries in the Information Society. IFLA Publications.<br>
Seonglee, Kim (2012): The roles for knowledge professionals for knowledge management. Teoksessa: Ershova, T.V. & Hohlov, Yuri E. (2012): Libraries in the Information Society. IFLA Publications.<br>
Qihao, Miao (2012): To be or not to be: Public libraries and the global knowledge revolution. Teoksessa: Ershova, T.V. & Hohlov, Yuri E. (2012): Libraries in the Information Society. IFLA Publications.<br>

<h4>Sharetribe:</h4> <a href="http://www.theseus.fi/handle/10024/52925">http://www.theseus.fi/handle/10024/52925</a><br>
<a href="http://www.suosittelija.fi">http://www.suosittelija.fi</a>

<h4>Käyttäjäkyselyjä/-tutkimuksia:</h4> <a href="http://www.kansalliskirjasto.fi/kirjastoala/koordinointi/kayttajakysely2013/Files/liitetiedosto2/Sektori_Yleiset_kirjastot.pdf">http://www.kansalliskirjasto.fi/kirjastoala/koordinointi/kayttajakysely2013/Files/liitetiedosto2/Sektori_Yleiset_kirjastot.pdf</a><br>
<a href="http://www.minedu.fi/export/sites/default/OPM/Julkaisut/2011/liitteet/OKM21.pdf?lang=fi">http://www.minedu.fi/export/sites/default/OPM/Julkaisut/2011/liitteet/OKM21.pdf?lang=fi</a>

<h4>Kuntien välisestä yhteistyöstä:</h4>
<a href="http://www.kunnat.net/fi/asiantuntijapalvelut/opeku/kulti/kirjasto/kirjastoyhttyo/Sivut/default.aspx">http://www.kunnat.net/fi/asiantuntijapalvelut/opeku/kulti/kirjasto/kirjastoyhttyo/Sivut/default.aspx</a>

<h4>Tilastotietoja:</h4> <a href="http://tilastot.kirjastot.fi/">http://tilastot.kirjastot.fi/</a>

<h4>EU:</h4> <a href="http://www.eblida.org/about-eblida/strategy-and-annual-report.html">http://www.eblida.org/about-eblida/strategy-and-annual-report.html</a>

<h4>Liber:</h4> <a href="http://libereurope.eu/strategy/">http://libereurope.eu/strategy/</a>

<h4>Kirjastot.fi toimintasuunnitelma 2015:</h4> <a href="http://www.kirjastot.fi/sites/default/files/content/kirjastotfi_toimintasuunnitelma2015_hakemisto.pdf">http://www.kirjastot.fi/sites/default/files/content/kirjastotfi_toimintasuunnitelma2015_hakemisto.pdf</a>

<h4>Digitalisoitua aineistoa:</h4> <a href="http://digi.kirjastot.fi/">http://digi.kirjastot.fi/</a>

<h4>Kansalliskirjasto:</h4> <a href="http://www.kansalliskirjasto.fi/">http://www.kansalliskirjasto.fi/</a>

<h4>Helsingin Sanomat, 3.6.2015, Ministeriö:</h4> "Varmasti jokin kirjastoissa muuttuu. Tiedämme enemmän syksyllä", saatavilla: <a href="http://www.hs.fi/kulttuuri/a1433304652297?jako=6d9c523a1c2d80b77d5b0368d206ad39">http://www.hs.fi/kulttuuri/a1433304652297?jako=6d9c523a1c2d80b77d5b0368d206ad39</a>
<h4>Talous Sanomat, 30.1.2015, Elisa:</h4> E-kirjojen myynti kaksinkertaistui, saatavilla: <a href="http://www.taloussanomat.fi/tietoliikenne/2015/01/30/elisa-e-kirjojen-myynti-kaksinkertaistui/20151303/12">http://www.taloussanomat.fi/tietoliikenne/2015/01/30/elisa-e-kirjojen-myynti-kaksinkertaistui/20151303/12</a>

<h4>E-kirjapalveluita:</h4>
<a href="http://helmet.lib.overdrive.com/">http://helmet.lib.overdrive.com/</a><br>
<a href="http://ekirjasto.kirjastot.fi/">http://ekirjasto.kirjastot.fi/</a><br>
<a href="https://www.ellibslibrary.com/collection">https://www.ellibslibrary.com/collection</a><br>
<a href="http://www.lonnrot.net/etext.html">http://www.lonnrot.net/etext.html</a><br>
<a href="http://runeberg.org/">http://runeberg.org/</a><br>
<a href="http://www.kirjastot.fi/">http://www.kirjastot.fi/</a><br>
<a href="https://openlibrary.org/">https://openlibrary.org/</a><br>
<a href="http://www.arkisto.fi/">http://www.arkisto.fi/</a><br>
<a href="http://helsinkilib.naxosmusiclibrary.com/page.library_cardno.asp">http://helsinkilib.naxosmusiclibrary.com/page.library_cardno.asp</a><br>
<a href="https://www.rbdigital.com/helsinki/indieflix">https://www.rbdigital.com/helsinki/indieflix</a><br>
<a href="http://www.bod.fi/e-pokkari.html?gclid=CN_HjJ7O9cUCFUXbcgodP3UAaA">http://www.bod.fi/e-pokkari.html?gclid=CN_HjJ7O9cUCFUXbcgodP3UAaA</a>

</div>
