<article class="stories">
    <div class="col col-wide">
        <div class="headline"><h1>I Teknologia<span class="underline underline-gradient"></span></h1></div>
        <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vivamus sagittis
            lacus vel augue laoreet rutrum faucibus dolor auctor.</p>

        <div>Placeholder illustration</div>
    </div>
    <div class="col">
        <div class="story">
            <div class="headline"><h2><a href="#/teknologia-tarinat/test">E-paperi, mummo</a><span class="underline underline-gradient"></span></h2></div>
            <span>Lorem ipsum</span>
        </div>
    </div>
    <div class="col">
        <div class="story">
            <div class="headline"><h2><a href="#/teknologia-tarinat/test2">Kirjastouudistus Marinin listalla</a><span class="underline underline-gradient"></span></h2></div>
            <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam quis risus eget urna mollis ornare vel eu leo.</span>
        </div>
    </div>

    <div class="col">
        <div class="story">
            <div class="headline"><h2><a href="#/teknologia-tarinat/test3">Nopeasti luettu e-kirja</a><span
                    class="underline underline-gradient"></span>
            </h2></div>
            <span>Maecenas faucibus mollis interdum. Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam.</span>
        </div>
        <div class="col">
            4
        </div>
        <div class="col col-wide">
            5
        </div>
        <div class="col">
            6
        </div>

</article>