<article class="stories">
    <div class="col col-wide">
        <div class="headline"><h1>I Teknologia<span class="underline underline-gradient"></span></h1></div>
        <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vivamus sagittis
            lacus vel augue laoreet rutrum faucibus dolor auctor.</p>

        <div id="tree-illustration"></div>
    </div>


    <div class="col">
        <div class="story">
            <div class="headline"><h2><a href="#/teknologia-tarinat/huoliiko-minusta-enaa-kukaan">Huoliiko minusta enää
                kukaan?</a><span class="underline underline-gradient"></span></h2></div>
            <span>
                <img class="illustration illustration-background" src="assets/img/illustrations/surullinen-kirja.svg">
                Olen ISBN 951-31-1737-5, eli Harry Potter ja Azkabanin vanki.
            </span>
        </div>
    </div>
    <div class="col">
        <div class="story">
            <div class="headline"><h2><a href="#/teknologia-tarinat/naissivari-koodaa-kirjastossa">Naissivari koodaa
                kirjastossa</a><span class="underline underline-gradient"></span></h2></div>
            <span>HS Nyt, 17.1.2030</span>
        </div>
    </div>
    <div class="col">
        <div class="story">
            <div class="headline"><h2><a href="#/teknologia-tarinat/kansanradio">Kansanradio</a><span
                    class="underline underline-gradient"></span></h2></div>
        </div>
    </div>
    <div class="col">
        <div class="story">
            <div class="headline"><h2><a href="#/teknologia-tarinat/e-kirjan-lyhyt-elama">E-kirjan lyhyt elämä</a><span
                    class="underline underline-gradient"></span></h2></div>
            <span>Digitaalinen entiteetti kestää vain hetken.</span>
        </div>
    </div>
    <div class="col">
        <div class="story">
            <div class="headline"><h2><a href="#/teknologia-tarinat/ensimmaisen-polven-ilomantsilainen">Ensimmäisen
                polven ilomantsilainen</a><span
                    class="underline underline-gradient"></span></h2></div>
            <span>Kun yhteydet paranevat, voi sijaintinsa valita vapaasti.</span>
        </div>
    </div>
    <div class="col">
        <div class="story">
            <div class="headline"><h2><a href="#/teknologia-tarinat/e-paperi">E-paperi</a><span
                    class="underline underline-gradient"></span></h2></div>
            <span>Lukijan kirje, julkaistu Savon Sanomissa 23.4.2030</span>
        </div>
    </div>
    <div class="col">
        <div class="story">
            <div class="headline"><h2><a href="#/teknologia-tarinat/vastine-kirjasto-ei-suomea-peta">Vastine: Kirjasto
                ei suomea petä</a><span
                    class="underline underline-gradient"></span></h2></div>
            <span>Lukutaito on kirjaston leipä, suomenkieli ruisleipä. Aamulehti 16.1.2030.</span>
        </div>
    </div>
</article>


<script>
$(function () {
    console.log(typeof d3);
    if (typeof d3 === "undefined") {
        $.getScript("assets/js/d3.min.js", function () {
            console.log("hello d3", typeof d3);
            drawTree("/data/teknologia.json", "#tree-illustration");
        });
    }
});


    function drawTree(json, selector) {

        if (typeof selector === "undefined") {
            selector = "body";
        }

        if (typeof json === "undefined") {
            throw(new Error("drawTree(), no json provided"));
        }

        var diameter = 400;

        var tree = d3.layout.tree()
                .size([360, diameter / 2 - 120])
                .separation(function(a, b) { return (a.parent == b.parent ? 1 : 2) / a.depth; });

        var diagonal = d3.svg.diagonal.radial()
                .projection(function(d) { return [d.y, d.x / 180 * Math.PI]; });

        var svg = d3.select(selector).append("svg")
                .attr("width", diameter)
                .attr("height", diameter)
                .append("g")
                .attr("transform", "translate(" + diameter / 2 + "," + diameter / 2 + ")")
                .on("resize", function () {
                    console.log("resize");
                    return;
                });

        d3.json(json, function(error, root) {
            var nodes = tree.nodes(root),
                    links = tree.links(nodes);

            var link = svg.selectAll(".link")
                    .data(links)
                    .enter().append("path")
                    .attr("class", "link")
                    .attr("d", diagonal);

            var node = svg.selectAll(".node")
                    .data(nodes)
                    .enter().append("g")
                    .attr("class", function (d) { return "depth-" + d.depth + " node"; })
                    .attr("id", function (d) { console.log(d); return d.name; })
                    .attr("transform", function(d) { return "rotate(" + (d.x - 90) + ")translate(" + d.y + ")"; });


            node.append("circle")
                    .attr("r", 4.5)
                    .attr("class", "foo");

            node.append("text")
                    .attr("dy", ".31em")
                    .attr("text-anchor", function(d) { return d.x < 180 ? "start" : "end"; })
                    .attr("transform", function(d) { return d.x < 180 ? "translate(8)" : "rotate(180)translate(-8)"; })
                    .text(function(d) { return d.name; });
        });

        d3.select(self.frameElement).style("height", diameter - 150 + "px");

    }
</script>

<style type="text/css">
#tree-illustration {
    border: 1px solid red;
    height: 600px;
}

.node circle {
    fill: #939599;
    stroke-width: 1.5px;
    stroke: #ccc;
}

.node.depth-0 circle {
    stroke: #008bfd;
}

.node.depth-1 circle {
    stroke: #00f579;
}

.node {
    font-size: 10px;
    fill: #828489;
}

.link {
    fill: none;
    stroke: #e1e1e1;
    stroke-width: 1.5px;
}
</style>