<article class="stories">
    <div class="col col-wide">
        <div class="headline"><h1>I Teknologia<span class="underline underline-gradient"></span></h1></div>
        <p>Digitalisaatio iskee kirjastopalveluihin kahdella kärjellä. Yhtäältä yleisten kirjastojen moninaiset
            taustajärjestelmät, kuten e-kirjojen lainauspalvelut, harmonisoidaan ja lopulta sulautetaan yhdeksi
            valtakunnalliseksi järjestelmäksi. Tämä helpottaa palveluiden tuottamista keskitetysti ja
            kustannustehokkaasti. Toisaalta kirjasto käyttäjien kannalta yhteinen teknologiainfrastruktuuri tuo kaikkien
            julkisten kirjastojen palvelut kaikkien käyttäjien ulottuville yhdellä jäsenyydellä. Tämä korostuu
            digitaalisissa aineistoissa, mutta mahdollistaa myös paperikirjojen ja muiden esineiden lainaamisen yhtäältä
            ja palauttamisen toisaalle entistä joustavammin.</p>

        <div id="tree-illustration"></div>
    </div>


    <div class="col">
        <div class="story">
            <a href="#/teknologia-tarinat/huoliiko-minusta-enaa-kukaan">
                <div class="headline"><h2>Huoliiko minusta enää kukaan?<span
                        class="underline underline-gradient"></span></h2></div>
            <span>
                <img class="illustration illustration-background" src="assets/img/illustrations/surullinen-kirja.svg">
                Olen ISBN 951-31-1737-5, eli Harry Potter ja Azkabanin vanki.
            </span>
            </a>
        </div>
    </div>
    <div class="col">
        <div class="story">
            <a href="#/teknologia-tarinat/ensimmaisen-polven-ilomantsilainen">
                <div class="headline"><h2>Ensimmäisen
                    polven ilomantsilainen<span
                            class="underline underline-gradient"></span></h2></div>
                <span>Kun yhteydet paranevat, voi sijaintinsa valita vapaasti.</span>
            </a>
        </div>
    </div>


    <div class="col">
        <div class="story">
            <a href="#/teknologia-tarinat/kansanradio">
                <div class="headline"><h2>Kansanradio<span class="underline underline-gradient"></span></h2></div>
            </a>
        </div>
    </div>
    <div class="col">
        <div class="story">
            <a href="#/teknologia-tarinat/e-kirjan-lyhyt-elama">
                <div class="headline"><h2>E-kirjan lyhyt elämä<span
                        class="underline underline-gradient"></span></h2></div>
                <span>Digitaalinen entiteetti kestää vain hetken.</span>
            </a>
        </div>
    </div>


    <div class="col col-clear">
        <div class="story">
            <a href="#/teknologia-tarinat/e-paperi">
                <div class="headline"><h2>E-paperi<span
                        class="underline underline-gradient"></span></h2></div>
                <span>Lukijan kirje, julkaistu Savon Sanomissa 23.4.2030</span>
            </a>
        </div>
    </div>
    <div class="col">
        <div class="story">
            <a href="#/teknologia-tarinat/naissivari-koodaa-kirjastossa">
                <div class="headline"><h2>Naissivari koodaa kirjastossa<span
                        class="underline underline-gradient"></span></h2></div>
                <span>
                    <img class="illustration illustration-background" src="assets/img/illustrations/codebook.svg">
                    HS Nyt, 17.1.2030
                </span>
            </a>
        </div>
    </div>
    <div class="col">
        <div class="story">
            <a href="#/teknologia-tarinat/vastine-kirjasto-ei-suomea-peta">
                <div class="headline"><h2>Vastine: Kirjasto
                    ei suomea petä<span
                            class="underline underline-gradient"></span></h2></div>
                <span>Lukutaito on kirjaston leipä, suomenkieli ruisleipä. Aamulehti 16.1.2030.</span>
            </a>
        </div>
    </div>
</article>


<script>
    $(function () {
        displayGraph(drawTree, "/data/teknologia.json", "#tree-illustration");
    });
</script>