<div class="col">
    <div class="headline"><h2>I Teknologia<span class="underline underline-gradient"></span></h2></div>
    <nav class="stories">
        <ul>
            <li>
                <a href="#/teknologia-tarinat/kansanradio">
                    <span class="headline"><h2 class="h3">Kansanradio<span class="underline underline-gradient"></span>
                    </h2></span>
                </a>
            </li>
            <li>
                <a href="#/teknologia-tarinat/e-kirjan-lyhyt-elama">
                    <span class="headline"><h2 class="h3">E-kirjan lyhyt elämä<span
                            class="underline underline-gradient"></span></h2></span>
                </a>
            </li>
            <li>
                <a href="#/teknologia-tarinat/huoliiko-minua-enaa-kukaan">
                    <span class="headline"><h2 class="h3">Huoliiko minua enää kukaan?<span
                            class="underline underline-gradient"></span></h2></span>
                </a>
            </li>
            <li>
                <a href="#/teknologia-tarinat/naissivari-koodaa-kirjastossa">
                    <span class="headline"><h2 class="h3">Naissivari koodaa kirjastossa<span
                            class="underline underline-gradient"></span></h2></span>
                </a>
            </li>
            <li>
                <a href="#/teknologia-tarinat/ensimmaisen-polven-ilomantsilainen">
                    <span class="headline"><h2 class="h3">Ensimmäisen polven ilomantsilainen<span
                            class="underline underline-gradient"></span></h2></span>
                </a>
            </li>
            <li>
                <a href="#/teknologia-tarinat/e-paperi">
                    <span class="headline"><h2 class="h3">E-paperi<span class="underline underline-gradient"></span>
                    </h2></span>
                </a>
            </li>
            <li>
                <a href="#/teknologia-tarinat/vastine-kirjasto-ei-suomea-peta">
                    <span class="headline"><h2 class="h3">Vastine: Kirjasto ei suomea petä<span
                            class="underline underline-gradient"></span></h2></span>
                </a>
            </li>
        </ul>
    </nav>
</div>
<div class="col col-wide" id="story">

</div>
