<div class="col col-wide" id="ant-intro">
    <div class="headline"><h1>Toimijaverkosto<span class="underline underline-gradient"></span></h1></div>
    <p>Oheisessa graafissa on pyritty kuvaamaan kirjaston tulevaisuuteen liittyvät relevantit toimijat. Käsite on
        määritelty toimijaverkkoteorian (ANT) mukaisesti laajana, kattaen sekä inhimilliset että ei-inhimilliset
        toimijat. Graafin ajatuksena on hahmottaa ilmiökenttää kaikessa laajuudessaan ja antaa havainnollinen
        yleiskatsaus kirjaston tulevaisuuteen vaikuttaviin voimiin, eli toimijoihin ja niiden välisiin kytköksiin.
    </p>

    <button class="button-show-ant"><span>Katso visualisointi</span> <i class="glyphicon glyphicon-menu-right"></i>
    </button>
    <button class="button-hide-ant"><span>Näytä teksti</span> <i class="glyphicon glyphicon-menu-right"></i></button>
</div>


<script>
$(function () {
    displayGraph(drawANT);

    $("body").on("click", ".button-show-ant", function () {
        $("#ant-intro").addClass("collapsed");
        $("#ant").css("opacity", 1);
    });

    $("body").on("click", ".button-hide-ant", function () {
        $("#ant-intro").removeClass("collapsed");
        $("#ant").css("opacity", 0.25);
    });
});
</script>