<div class="col col-wide" id="ant-intro">
    <div class="headline"><h1>Toimijat<span class="underline underline-gradient"></span></h1></div>
    <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Nullam quis risus eget urna mollis ornare vel eu
        leo. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Nullam id dolor id nibh ultricies vehicula ut
        id elit. Sed posuere consectetur est at lobortis. Cras justo odio, dapibus ac facilisis in, egestas eget quam.
        Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
    </p>

    <p>Donec ullamcorper nulla non metus auctor fringilla. Vivamus sagittis lacus vel augue laoreet rutrum faucibus
        dolor auctor. Maecenas sed diam eget risus varius blandit sit amet non magna. Donec ullamcorper nulla non metus
        auctor fringilla. Nullam quis risus eget urna mollis ornare vel eu leo. Praesent commodo cursus magna, vel
        scelerisque nisl consectetur et. Sed posuere consectetur est at lobortis.
    </p>

    <button class="button-show-ant"><span>Katso visualisointi</span> <i class="glyphicon glyphicon-menu-right"></i>
    </button>
    <button class="button-hide-ant"><span>Näytä teksti</span> <i class="glyphicon glyphicon-menu-right"></i></button>
</div>


<script>
    $(function () {
        console.log(typeof d3);
        if (typeof d3 === "undefined") {
            $.getScript("assets/js/d3.min.js", function () {
                console.log("hello d3", typeof d3);
                drawNodes();
            });
        }
    });

    $("body").on("click", ".button-show-ant", function () {
        $("#ant-intro").addClass("collapsed");
        $("#ant").css("opacity", 1);
    });

    $("body").on("click", ".button-hide-ant", function () {
        $("#ant-intro").removeClass("collapsed");
        $("#ant").css("opacity", 0.25);
    });

    function drawNodes() {
        var width = $("main").width(),
            height = $("body").height();

        console.log(width, height);
        /*
         0 = valtio
         1 = laki
         3 = teknologia
         4 = markinnat
         5 = yhteiskunta?
         */

        var colors = [
            "#548ed3", // blue
            "#e95b4d", // red
            "#00f579", // green
            "#003399",
            "#ee9911"
        ];

        var svg = d3.select("main").append("svg")
            .attr("width", width)
            .attr("height", height)
            .attr("id", "ant");

        var force = d3.layout.force()
            .gravity(.1)
            .distance(function (node) {
                var maxDistance = width / 4 * 3;
                return maxDistance * node.value / 10;
            })
            .charge(function (node) {
                var maxCharge = width / 2;
                return -maxCharge * node.value / 10;
            })
            .linkStrength(0.1)
            .friction(0.75)
            .size([width, height]);

        d3.json("data/actors.json", function (error, json) {
            force
                .nodes(json.nodes)
                .links(json.links)
                .start();

            var link = svg.selectAll(".link")
                .data(json.links)
                .enter().append("line")
                .attr("class", "link")
                .style("stroke-width", function (d) {
                    return Math.sqrt(d.value) / 2;
                });

            var node = svg.selectAll(".node")
                .data(json.nodes)
                .enter().append("g")
                .attr("class", "node")
                .call(force.drag);

            node.append("text")
                .attr("dx", "15px")
                .attr("dy", "10px")
                .text(function (d) {
                    return d.name
                });

            node.append("circle")
                .attr("r", function (d) {
                    return parseInt(3 + d.value);
                })
                .style("fill", function (d) {
                    return colors[d.group - 1];
                });


            force.on("tick", function () {
                link.attr("x1", function (d) {
                    return d.source.x;
                })
                    .attr("y1", function (d) {
                        return d.source.y;
                    })
                    .attr("x2", function (d) {
                        return d.target.x;
                    })
                    .attr("y2", function (d) {
                        return d.target.y;
                    });

                node.attr("transform", function (d) {
                    return "translate(" + d.x + "," + d.y + ")";
                });
            });
        });
    }
</script>

<style type="text/css">
</style>