<article class="stories">
    <div class="col col-wide">
        <div class="headline"><h1>III Yhteiskunta<span class="underline underline-gradient"></span></h1></div>
        <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vivamus sagittis
            lacus vel augue laoreet rutrum faucibus dolor auctor.</p>

        <div>Placeholder illustration</div>
    </div>

    <div class="col">
        <div class="story">
            <div class="headline"><h2><a href="#/yhteiskunta-tarinat/laren-baari">Laren bari</a><span class="underline underline-gradient"></span></h2></div>
            <span>Kirjoja, kaljaa ja kyläiltoja</span>
        </div>
    </div>
    <div class="col">
        <div class="story">
            <div class="headline"><h2><a href="#/yhteiskunta-tarinat/palautetta">Palautetta</a><span class="underline underline-gradient"></span></h2></div>
            <span>?</span>
        </div>
    </div>

    <div class="col">
        <div class="story">
            <h2>Kansan radio</h2>
        </div>
    </div>
    <div class="col">
        <div class="story">
            <h2>Päivä kiertävänä kirjastotätinä</h2>
        </div>
    </div>
    <div class="col col-wide">
        <div class="story">
            <h2>Kirjastosolun järjestämä tapahatuma</h2>
        </div>
    </div>
    <div class="col col-clear">
        <div class="story">
            <h2>Journalistista sisältöä, esim. haastatelu</h2>
        </div>
    </div>
    <div class="col col-wide">
        <div class="story">
            <h2>Tyyppi joka halua itsean lainatavaksi</h2>
        </div>
    </div>
    <div class="col">
        <div class="story">
            <h2>Paperikirja sen omasta näkökulmasta</h2>
        </div>
    </div>
    <div class="col col-clear">
        <div class="story">
            <h2>3v swaippaile</h2>
        </div>
    </div>
    <div class="col">
        <div class="story">
            <div class="headline"><h2><a href="#/yhteiskunta-tarinat/valtiollinen-kirjasto">Valtiollinen kirjasto</a><span class="underline underline-gradient"></span></h2></div>
        </div>
    </div>
    <div class="col col-wide">
        <div class="story">
            <div class="headline"><h2><a href="#/yhteiskunta-tarinat/kirjailijan-paivakirja">Otteita kirjailija Päivi Huhtasen päiväkirjasta</a><span class="underline underline-gradient"></span></h2></div>
            <span></span>
        </div>
    </div>
    <div class="col">
        <div class="story">
            <h2>Keskuskirjaston vuosikatsaus</h2>
        </div>•
    </div>
    <div class="col">
        <div class="story">
            <h2>Mummo kuraatorina innoissan</h2>
        </div>
    </div>
    <div class="col">
        <div class="story">
            <div class="headline"><h2><a href="#/teknologia-tarinat/naissivari-koodaa-kirjastossa">Naissivari koodaa
                kirjastossa</a><span class="underline underline-gradient"></span></h2></div>
            <span>Kristiina Honkala on syntynyt alkuvuodesta 2011. Kristiina valitsi sivarin.</span>
        </div>
    </div>
    <div class="col">
        <div class="story">
            <h2>Crowdfunding kurssi</h2>
        </div>
    </div>
    <div class="col col-wide">
        <div class="story">
            <h2>YLE + kirjasto</h2>
        </div>
    </div>
    <div class="col">
        <div class="story">
            <h2>5. polven stadilainen etätöissä</h2>
        </div>
    </div>
</article>