<article class="stories">
    <div class="col col-wide">
        <div class="headline"><h1>III Yhteiskunta<span class="underline underline-gradient"></span></h1></div>
        <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vivamus sagittis
            lacus vel augue laoreet rutrum faucibus dolor auctor.</p>

        <div>Placeholder illustration</div>
    </div>

    <div class="col">
        <div class="story">
            <div class="headline"><h2><a href="#/yhteiskunta-tarinat/kansanradio">Kansanradio</a><span
                    class="underline underline-gradient"></span></h2></div>
        </div>
    </div>
    <div class="col">
        <div class="story">
            <div class="headline"><h2><a href="#/yhteiskunta-tarinat/minun-paivani">Minun päiväni</a><span
                    class="underline underline-gradient"></span></h2></div>
            <span>Niko West työskentelee seitsemässä kirjastossa Helsingissä. Sarjan 6. osa.</span>
        </div>
    </div>
    <div class="col">
        <div class="story">
            <div class="headline"><h2><a href="#/yhteiskunta-tarinat/kirjoja-kaljaa-ja-kylailtoja">Kirjoja, kaljaa ja
                kyläiltoja</a><span
                    class="underline underline-gradient"></span></h2></div>
            <span>Laren baari, Arpela, Lounais-Lappi, 27.7.2030</span>
        </div>
    </div>
    <div class="col">
        <div class="story">
            <div class="headline"><h2><a href="#/yhteiskunta-tarinat/mutteri-ry-matka-robottien-maailmaan">Mutteri ry –
                Matka robottien maailmaan</a><span
                    class="underline underline-gradient"></span></h2></div>
            <span>Kirjastojen tiloissa toimii paljon aktiivisia harrasteryhmiä. Tällä viikolla pääsimme kurkistamaan kemiläisen robottiharrastusryhmä Mutteri ry:n arkeen.</span>
        </div>
    </div>
    <div class="col">
        <div class="story">
            <div class="headline"><h2><a href="#/yhteiskunta-tarinat/palautteita-syyskuulta-2030">Palautteita syyskuulta 2030</a><span
                    class="underline underline-gradient"></span></h2></div>
            <span>Poimintoja kirjastolaitoksen syyskuun palautteesta.</span>
        </div>
    </div>
    <div class="col">
        <div class="story">
            <div class="headline"><h2><a href="#/yhteiskunta-tarinat/kirjastouudistus-marinin-listalla">Kirjastouudistus Marinin listalla</a><span
                    class="underline underline-gradient"></span></h2></div>
            <span>Kulttuuri. Vaalivoittaja Marin nostaa kulttuuri- ja koulutusalan kärkihankkeeksi vuosia vatvotun kirjastouudistuksen. (Helsingin Sanomat 29.4.2031)</span>
        </div>
    </div>
    <div class="col">
        <div class="story">
            <div class="headline"><h2><a href="#/yhteiskunta-tarinat/kirjasto-julkaisijana">Kirjasto julkaisijana</a><span
                    class="underline underline-gradient"></span></h2></div>
            <span>Otteita kirjailija Päivi Huhtasen päiväkirjasta</span>
        </div>
    </div>
    <div class="col">
        <div class="story">
            <div class="headline"><h2><a href="#/yhteiskunta-tarinat/naissivari-koodaa-kirjastossa">Naissivari koodaa
                kirjastossa</a><span class="underline underline-gradient"></span></h2></div>
            <span>HS Nyt, 17.1.2030</span>
        </div>
    </div>
    <div class="col">
        <div class="story">
            <div class="headline"><h2><a href="#/yhteiskunta-tarinat/oskarin-eka-koulupaiva">Oskarin eka koulupäivä</a><span
                    class="underline underline-gradient"></span></h2></div>
            <span>Julkaistu Kevätpörriäisessä vuonna 2030</span>
        </div>
    </div>
    <div class="col">
        <div class="story">
            <div class="headline"><h2><a href="#/yhteiskunta-tarinat/ensimmaisen-polven-ilomantsilainen">Ensimmäisen polven ilomantsilainen</a><span
                    class="underline underline-gradient"></span></h2></div>
            <span>Kun yhteydet paranevat, voi sijaintinsa valita vapaasti.</span>
        </div>
    </div>
    <div class="col">
        <div class="story">
            <div class="headline"><h2><a href="#/yhteiskunta-tarinat/pyoratohtori-on-vuoden-asiakas">Pyörätohtori on vuoden asiakas</a><span
                    class="underline underline-gradient"></span></h2></div>
            <span>Kirjasto palkitsee vuosittain asiakkaitaan aktiivisuudesta. Tänä vuonna lahjakortti vapaavalintaiseen kulttuuritapahtumaan meni Lokalahdelle.</span>
        </div>
    </div>
    <div class="col">
        <div class="story">
            <div class="headline"><h2><a href="#/yhteiskunta-tarinat/"></a><span
                    class="underline underline-gradient"></span></h2></div>
            <span></span>
        </div>
    </div>
    <div class="col">
        <div class="story">
            <div class="headline"><h2><a href="#/yhteiskunta-tarinat/vastine-kirjasto-ei-suomea-peta">Vastine: Kirjasto ei suomea petä</a><span
                    class="underline underline-gradient"></span></h2></div>
            <span>Lukutaito on kirjaston leipä, suomenkieli ruisleipä. Aamulehti 16.1.2030.</span>
        </div>
    </div>
</article>