<article class="stories">
    <div class="col col-wide">
        <div class="headline"><h1>III Yhteiskunta<span class="underline underline-gradient"></span></h1></div>
        <p>Laajan käsitteen alle mahtuu eri näkökulmia Suomen väestöstä, ihmisten elintavoista ja keskinäisestä
            vuorovaikutuksesta. Ikääntyvässä Suomessa säästöpaineet näkyvät myös kirjastoissa. Kirjastopalvelut eivät
            katoa Suomesta, eivätkä siirry pelkästään verkkoon. Aineistojen digitalisoituminen kuitenkin muuttaa
            kirjaston merkitystä tilana. Kirjastoista tulee kohtaamispaikkoja, joissa järjestetään tapahtumia ja joihin
            opiskelijat ja itsensä työllistävien kasvava joukko tulee tekemään töitä.</p>

        <p>Liikenne- ja viestintäyhteyksien parantuminen mahdollistaa asuinpaikkakunnan vapaamman valinnan. Eläkkeelle
            siirtyvät suuret ikäluokat palaavat synnyinseuduilleen, ja heidän vanavedessään maakuntiin muuttaa nuoria
            perheitä. </p>

        <div id="tree-illustration"></div>
    </div>

    <div class="col">
        <div class="story">
            <a href="#/yhteiskunta-tarinat/minun-paivani">
                <div class="headline"><h2>Minun päiväni<span
                        class="underline underline-gradient"></span></h2></div>
                <span>Niko West työskentelee seitsemässä kirjastossa Helsingissä. Sarjan 6. osa.</span>
            </a>
        </div>
    </div>
    <div class="col">
        <div class="story">
            <a href="#/yhteiskunta-tarinat/kirjoja-kaljaa-ja-kylailtoja">
                <div class="headline"><h2>Kirjoja, kaljaa ja
                    kyläiltoja<span
                            class="underline underline-gradient"></span></h2></div>
                <span>
                    <img class="illustration illustration-background" src="assets/img/illustrations/baari.svg">
                    Laren baari, Arpela, Lounais-Lappi, 27.7.2030</span>
            </a>
        </div>
    </div>

    <div class="col">
        <div class="story">
            <a href="#/yhteiskunta-tarinat/mutteri-ry-matka-robottien-maailmaan">
                <div class="headline"><h2>Mutteri ry –
                    Matka robottien maailmaan<span
                            class="underline underline-gradient"></span></h2></div>
                <span>Kirjastojen tiloissa toimii paljon aktiivisia harrasteryhmiä. Tällä viikolla pääsimme kurkistamaan kemiläisen robottiharrastusryhmä Mutteri ry:n arkeen.</span>
            </a>
        </div>
    </div>
    <div class="col">
        <div class="story">
            <a href="#/yhteiskunta-tarinat/palautteita-syyskuulta-2030">
                <div class="headline"><h2>Palautteita syyskuulta 2030<span
                        class="underline underline-gradient"></span></h2></div>
                <span>Poimintoja kirjastolaitoksen syyskuun palautteesta.</span>
            </a>
        </div>
    </div>

    <div class="col col-clear">
        <div class="story">
            <a href="#/yhteiskunta-tarinat/kirjastouudistus-marinin-listalla">
                <div class="headline"><h2>Kirjastouudistus Marinin listalla<span
                        class="underline underline-gradient"></span></h2></div>
            <span>
                <img class="illustration illustration-background" src="assets/img/illustrations/lista.svg">
                Kulttuuri. Vaalivoittaja Marin nostaa kulttuuri- ja koulutusalan kärkihankkeeksi vuosia vatvotun kirjastouudistuksen. (Helsingin Sanomat 29.4.2031)</span>
            </a>
        </div>
    </div>
    <div class="col">
        <div class="story">
            <a href="#/yhteiskunta-tarinat/kirjasto-julkaisijana">
                <div class="headline"><h2>Kirjasto julkaisijana<span
                        class="underline underline-gradient"></span></h2></div>
                <span>Otteita kirjailija Päivi Huhtasen päiväkirjasta</span>
            </a>
        </div>
    </div>
    <div class="col">
        <div class="story">
            <a href="#/yhteiskunta-tarinat/naissivari-koodaa-kirjastossa">
                <div class="headline"><h2>Naissivari koodaa
                    kirjastossa<span class="underline underline-gradient"></span></h2></div>
                <span>HS Nyt, 17.1.2030</span>
            </a>
        </div>
    </div>
    <div class="col">
        <div class="story">
            <a href="#/yhteiskunta-tarinat/oskarin-eka-koulupaiva">
                <div class="headline"><h2>Oskarin eka koulupäivä<span
                        class="underline underline-gradient"></span></h2></div>
                <span>Julkaistu Kevätpörriäisessä vuonna 2030</span>
            </a>
        </div>
    </div>

    <div class="col col-clear">
        <div class="story">
            <a href="#/yhteiskunta-tarinat/kansanradio">
                <div class="headline"><h2>Kansanradio<span
                        class="underline underline-gradient"></span></h2></div>
            </a>
        </div>
    </div>
    <div class="col">
        <div class="story">
            <a href="#/yhteiskunta-tarinat/ensimmaisen-polven-ilomantsilainen">
                <div class="headline"><h2>Ensimmäisen polven ilomantsilainen<span
                        class="underline underline-gradient"></span></h2></div>
                <span>Kun yhteydet paranevat, voi sijaintinsa valita vapaasti.</span>
            </a>
        </div>
    </div>
    <div class="col">
        <div class="story">
            <a href="#/yhteiskunta-tarinat/pyoratohtori-on-vuoden-asiakas">
                <div class="headline"><h2>Pyörätohtori on vuoden asiakas<span
                        class="underline underline-gradient"></span></h2></div>
                <span>Kirjasto palkitsee vuosittain asiakkaitaan aktiivisuudesta. Tänä vuonna lahjakortti vapaavalintaiseen kulttuuritapahtumaan meni Lokalahdelle.</span>
            </a>
        </div>
    </div>
    <div class="col">
        <div class="story">
            <a href="#/yhteiskunta-tarinat/vastine-kirjasto-ei-suomea-peta">
                <div class="headline"><h2>Vastine: Kirjasto ei suomea petä<span
                        class="underline underline-gradient"></span></h2></div>
                <span>Lukutaito on kirjaston leipä, suomenkieli ruisleipä. Aamulehti 16.1.2030.</span>
            </a>
        </div>
    </div>
</article>

<script>
    $(function () {
        displayGraph(drawTree, "/data/yhteiskunta.json", "#tree-illustration");
    });
</script>